<portada-component title="ALIANZAS ESTRATÉGICAS" colorText="text-black" img="bolsa de trabajo"
  alt="apreton manos socios comerciales reunion grupo que hace inversion proyecto primer"></portada-component>

<section class="grid">

  <div class="container">
    <div class="row gap-3 justify-content-evenly">

      <div class="item col-3" *ngFor="let alianza of alianzas">
        <div class="item-contenido">
          <img [src]="'assets/'+ alianza.img+'.webp'" [alt]="alianza.img">
        </div>
        <h2>{{alianza.nombre}}</h2>
        <span>{{alianza.beneficio}}</span>
        <!-- <ul class="ctn-tag p-0">
          <li *ngFor="let categoria of alianza.categoria">{{ categoria }}</li>
        </ul> -->
        <div class="d-flex gap-2 p-3" style="width: 100%; list-style: none;">

          @if (alianza.redesSocialesUrl.facebook) {
            <a [href]="alianza.redesSocialesUrl.facebook"><img class="" src="assets/icon/facebook.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.instagram) {
            <a [href]="alianza.redesSocialesUrl.instagram"><img class="" src="assets/icon/instagram.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.youtube) {
            <a [href]="alianza.redesSocialesUrl.youtube"><img class="" src="assets/icon/youtube.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.tiktok) {
            <a [href]="alianza.redesSocialesUrl.tiktok"><img class="" src="assets/icon/tik-tok.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.twitter) {
            <a [href]="alianza.redesSocialesUrl.twitter"><img class="" src="assets/icon/x.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.email) {
            <a [href]="alianza.redesSocialesUrl.email"><img class="" src="assets/icon/email.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.noTelefono) {
            <a [href]="alianza.redesSocialesUrl.noTelefono"><img class="" src="assets/icon/telefono.png" alt=""></a>
          }

          @if (alianza.redesSocialesUrl.sitioWeb) {
            <a [href]="alianza.redesSocialesUrl.sitioWeb"><img class="" src="assets/icon/sitio-web.png" alt=""></a>
          }

        </div>
        <a [href]="'assets/pdf/'+ alianza.pdfName" target="_blank"><button>Leer más</button></a>
      </div>

    </div>
  </div>


</section>
