<header class="header--inicio">

  <div class="container">

    <div class="row">

      <div class="col-12 col-xl-6">
        <div class="gallery">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img class="gallery-image" src="assets/datos-biometricos-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img class="gallery-image" src="assets/estimadiosSocios.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img class="gallery-image" src="assets/alianzasgal-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img class="gallery-image" src="assets/libro_conmemorativo.jpg" class="d-block" style="height: 301px;width: 600px;" alt="...">
              </div>
              <div class="carousel-item">
                <img class="gallery-image" src="assets/bases.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img class="gallery-image" src="assets/servicioelectronicos-1.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6">
        <div class="button-quiero-ser-socio d-flex justify-content-center align-items-center">
          <a routerLink="/socio">
            <h1 class="titulo--inicial">QUIERO SER SOCIO</h1>
          </a>
        </div>
        <app-redes-sociales></app-redes-sociales>
      </div>
    </div>

  </div>

</header>

<main>
  <div class="container">
    <section class="cuatro--botones row align-items-start">
      <!-- Contenido de la primera sección -->

      <div class="card-content col d-flex flex-column align-items-center">
        <a routerLink="/revista" class="text-decoration-none">
          <div class="image-wrapper position-relative">
            <div class="overlay position-absolute"></div>
            <img src="assets/libertador-1.png" alt="" class="card-content-image">
            <div class="hover-text">Leer más</div>
          </div>
          <div class="card-content-text">Revista Libertador<br>Cooperativo</div>
        </a>
      </div>
      <div class="card-content col d-flex flex-column align-items-center">
        <a href="assets/pdf/promociones2023.pdf" target="_blank" class="text-decoration-none">
          <div class="image-wrapper position-relative">
            <div class="overlay position-absolute"></div>
            <img src="assets/Promociones.png" alt="" class="card-content-image">
            <div class="hover-text">Leer más</div>
          </div>
          <div class="card-content-text">Promociones 2023</div>
        </a>
      </div>
      <div class="card-content col d-flex flex-column align-items-center">
        <a routerLink="/alianzas" class="text-decoration-none">
          <div class="image-wrapper position-relative">
            <div class="overlay position-absolute"></div>
            <img src="assets/alianzas.png" alt="" class="card-content-image">
            <div class="hover-text">Leer más</div>
          </div>
          <div class="card-content-text">Alianzas<br>Estratégicas</div>
        </a>
      </div>
      <div class="card-content col d-flex flex-column align-items-center">
        <a href="assets/pdf/libro-caja.pdf" target="_blank" class="text-decoration-none">
          <div class="image-wrapper position-relative">
            <div class="overlay position-absolute"></div>
            <img src="assets/portlibro.png" alt="" class="card-content-image">
            <div class="hover-text">Leer más</div>
          </div>
          <div class="card-content-text">Libro<br>Conmemorativo</div>
        </a>
      </div>

    </section>
  </div>


  <section class="beneficios">

    <div class="container">

      <div class="beneficios-titulo text-center">BENEFICIOS DE ESTAR AFILIADO A
        CAJA POPULAR SAN PABLO
      </div>
      <div class="row justify-content-center">
        <div class="all-beneficios d-flex flex-wrap">
          <div class="item col" routerLink="/asesoria">
            <img class="img-beneficio" src="assets/icon/consulta.png" alt="Imagen 1">
            <div class="texto-corto">Asesoría Jurídica</div>
          </div>
          <div class="item col" routerLink="/alianzas">
            <img class="img-beneficio" src="assets/icon/manos.png" alt="Imagen 2">
            <div class="texto-corto">Alianzas Estratégicas</div>
          </div>
          <div class="item col" routerLink="/proteccion">
            <img class="img-beneficio" src="assets/icon/ahorrar-dinero.png" alt="Imagen 3">
            <div class="texto-corto">Protección al Ahorro y Crédito</div>
          </div>
          <a class="item col" routerLink="/medico">
            <img class="img-beneficio" src="assets/icon/asistencia-medica.png" alt="Imagen 4">
            <div class="texto-corto">Servicios Médicos</div>
          </a>
          <div class="item col" routerLink="/servicios">
            <img class="img-beneficio" src="assets/icon/pago.png" alt="Imagen 5">
            <div class="texto-corto">Pago de Servicios</div>
          </div>
          <div class="item col" routerLink="/profun">
            <img class="img-beneficio" src="assets/icon/me-gusta.png" alt="Imagen 6">
            <div class="texto-corto">Profun</div>
          </div>
        </div>
      </div>

    </div>


  </section>

  <section class="otros container-fluid">

    <div class="nov-event">
      <div class="row align-items-center">

        <div class="nov-event-titulo-boton col-md-4 col-xl-5">
          <div class="nov-event-titulo">NOVEDADES<br>Y EVENTOS</div>
          <a href="" class="nov-event-enlace">
            <div class="nov-event-boton">Conocer más</div>
          </a>
        </div>
        <img src="assets/jason-goodman-NdZ08c-zu0c-unsplash.jpg" class="nov-event-img col-md-8 col-xl-7 p-0" alt="">

      </div>

    </div>

    <div class="podcast">
      <div class="row align-items-center">

        <img src="assets/will-francis-ZDNyhmgkZlQ-unsplash.jpg" class="nov-event-img col-md-8 col-xl-7 p-0" alt="">
        <div class="nov-event-titulo-boton col-md-4 col-xl-5">

          <div class="nov-event-titulo">PODCAST</div>
          <a href="" class="nov-event-enlace">
            <div class="nov-event-boton">Conocer más</div>
          </a>

        </div>
      </div>
    </div>

    <div class="youtube container-fluid">

      <div class="row align-items-center">

        <div class="nov-event-titulo-boton col-12 col-lg-5">
          <div class="nov-event-titulo">NUESTRO<br>CANAL</div>
          <a href="https://www.youtube.com/@cajapopularsanpablo9951" class="nov-event-enlace">
            <div class="nov-event-boton">Conocer más</div>
          </a>
        </div>

        <div class="col-12 col-lg-7">
          <div class="row justify-content-evenly d-none d-lg-flex">
            <img class="min-youtube col" src="assets/min-yt1.webp" alt="">
            <img class="min-youtube col" src="assets/min-yt2.webp" alt="">
            <img class="min-youtube col" src="assets/min-yt3.webp" alt="">
            <img class="min-youtube col" src="assets/min-yt4.webp" alt="">
            <img class="min-youtube col" src="assets/min-yt5.webp" alt="">
            <img class="min-youtube col" src="assets/min-yt1.webp" alt="">
          </div>
          <div class="d-flex justify-content-center d-lg-none">
            <img class="youtube-frame" src="assets/min-yt2.webp" alt="">
          </div>
        </div>

      </div>


    </div>

  </section>

  <section class="slogan">
    <!-- Contenido de la cuarta sección -->
    <div class="slogan-texto">"UNIDOS EN LA COOPERACIÓN,
      POR UN FUTURO MEJOR"</div>
    <div class="circuloycheck" routerLink="/historia">
      <img src="./assets/icon/cheque.png" alt="">
      <div class="texto-circulo">HISTORIA</div>
    </div>
    <div class="circuloycheck">
      <img src="./assets/icon/cheque.png" alt="">
      <div class="texto-circulo">BOLSA DE TRABAJO</div>
    </div>
    <div class="circuloycheck">
      <img src="./assets/icon/cheque.png" alt="">
      <div class="texto-circulo">EDUCACIÓN COPERATIVA Y FINANCIERA</div>
    </div>
    <div class="circuloycheck">
      <img src="./assets/icon/cheque.png" alt="">
      <div class="texto-circulo">JUGUEMOS</div>
    </div>
  </section>

  <section class="preg-frec pb-5">
    <!-- Contenido de la quinta sección -->
    <img class="preg-frec-img imgfb" src="./assets/icon/informacion.png" alt="">
    <div class="preg-frec-titulo titulofb">Preguntas Frecuentes</div>
    <div class="preg-frec-desc descfb">Conoce las preguntas mas frecuentes hechas hacia Caja Popular San Pablo</div>
    <div class="nov-event-boton" id="pregfrecbtn" (click)="toggleInfo()">Ver más</div>


    <div class="container" id="pregfrec" [ngStyle]="{'display': isActive ? 'block' : 'none'}">

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿Qué es una Sociedad Cooperativa de Ahorro y Crédito?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-1">“La Sociedad Cooperativa es una forma de organización social integrada por personas
                físicas con base en intereses comunes y en los principios de solidaridad, esfuerzo propio y ayuda mutua,
                con el propósito de satisfacer necesidades individuales y colectivas, a través de la realización de
                actividades económicas de producción, distribución y consumo de bienes y servicios.”

                Así lo define la “Ley General de Sociedades Cooperativas (LGSC) Art. 2

                Además se rige bajo sus Estatutos definidos por los mismos Socios; funge como intermediario financiero
                *Ahorro y Crédito* sin fines de lucro y ofrece servicios exclusivos a sus Asociados.

                Fuente: <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/143_190118.pdf">Aquí</a></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿Qué beneficios tienen las Cajas para sus socios y la comunidad?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-2">Las Sociedades Cooperativas de Ahorro y Préstamo juegan un papel muy importante en
                muchos sentidos:

                • Promueven la inclusión financiera de productos y servicios financieros formales en zonas donde la
                infraestructura bancaria aún es limitada; es decir, ayudan a las personas a acceder a productos y
                servicios financieros formales en condiciones de seguridad.
                • Ofrecen productos que están diseñados para personas con menores recursos o cuyos ingresos no son
                constantes.
                • Impulsan el desarrollo económico en las localidades donde operan al ofrecer créditos para fines
                productivos y retener el ahorro en la localidad.
                • Contribuyen a la satisfacción de necesidades individuales y colectivas, proporcionando servicios de
                asistencia social, a través de la distribución de sus remanentes mediante fondos constituidos para tales
                fines.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿En qué te debes fijar antes de depositar tu dinero en una Caja?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-3">1. Verificar si se encuentra registrada. Todas las SOCAP que realicen operaciones
                que impliquen la captación de recursos de sus socios para su colocación (otorgar créditos) entre los
                mismos, independientemente de su tipo (grandes, medianas o pequeñas cooperativas), debieron haberse
                inscrito antes de febrero de 2010 en el Registro Nacional Único de SOCAP, que administra el Fondo de
                Supervisión Auxiliar de Sociedades Cooperativas de Ahorro y Préstamo y de Protección a sus Ahorradores
                (FOCOOP), de otra forma están operando al margen de la ley, con el riesgo económico que esto implica
                para el patrimonio de los socios ahorradores y los de aspecto legal para los administradores de la
                Sociedad.

                Para consultar la situación que guardan las SOCAP, se puede acceder a la página de internet que tiene el
                FOCOOP: www.focoop.com.mx.
                2. Verificar si se encuentra autorizada y supervisada por la CNBV.
                Caja Popular San Pablo, Cooperativa Autorizada y Supervisada por la
                Comisión Nacional Bancaria y de Valores desde 2007
                Oficio CNBV 310-1500125/2007
                134-870855/2007</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿Quién supervisa a las Cooperativas de Ahorro y Crédito?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-1">Las Cooperativas Certificadas y Autorizadas por (CNBV); Nos encontramos sujetos a la propia supervisión y regulación de la Comisión Nacional Bancaria y de Valores en términos de la (LRASCAP). Ley para Regular las Actividades de las Sociedades Cooperativas de Ahorro y Préstamo</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿Quién es Caja Popular San Pablo?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-2">Somos una Cooperativa autorizada y supervisada por la CNBV; con más de 50 años al servicio de nuestros Socios, contribuyendo a la mejora continua de la economía social, promoviendo la cultura del ahorro y el uso seguro de créditos con tasas justas, además de otorgar servicios y protecciones especiales a nuestra comunidad</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿Qué beneficios se obtienen al ingresar a Caja Popular San Pablo?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-3">Ingresar a una Cooperativa certificada es sinónimo de seguridad y confianza, entre otros beneficios importantes obtendrás al ingresar con nosotros:
                • Apertura de cuentas de ahorro sin comisiones
                • Acceso a todas las cuentas de ahorro disponibles con atractivos rendimientos.
                • Extensa gama de productos crediticios para cualquier necesidad con tasas justas.
                • Servicios escolares, además convenios con Instituciones educativas.
                • Servicios adicionales como: pago de servicios, envío de remesas, cajeros automáticos, servicios en red, entre otros.
                • Servicios médicos, campañas de salud y alianzas con diversas empresas con descuentos y precios especiales.
                • Seguro de protección al Ahorro y Crédito, por tu cumplimiento puntual
                • Servicio de Apoyo Funerario (PROFUN) sin costo a Socios por buen manejo de cuenta (revisar políticas vigentes).
                • Participación en Concurso de Becas Escolares para estudiantes, desde Primaria, hasta Licenciatura.
                • Participación en promociones, eventos y apoyos de Obra Social todo el año.
                • Opción de pagos electrónicos para mayor comodidad (TPV, Depósitos bancarios, Cajeros Receptores).</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              ¿Cuáles son los Requisitos para integrarme como Socio?
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-1"><b>Estos son los documentos que necesitas presentar en Original y copia para integrarte como Socio San Pablo:</b>
                *Ser mayor de edad.
                *Acta de Nacimiento reciente.
                *Identificación Oficial con fotografía (INE, Pasaporte Mexicano, Cédula Profesional, Licencia para conducir del Estado de Jalisco.
                *Cédula RFC con homoclave.
                *Cédula CURP.
                *Acta de matrimonio (en su caso).
                *Comprobante de domicilio no mayor a 60 días de su emisión.
                *Parte Social $1,000.00 (Un mil pesos 00/000).

                <b>Datos adicionales:</b>
                *El dato de dos referencias familiares o tres amistades: nombre, domicilio y teléfono.
                *Nombre, domicilio y teléfono de empleo.
                *Teléfono celular del Titular.
                *Comprobante de ingresos reciente.
                *Correo Electrónico (si es que se tiene).

                <b>Estos son los documentos que necesitas presentar en Original y copia para integrar a un Menor como Ahorrador San Pablo:</b>
                *Tener de 1 a 17 años de edad
                *Presentarse acompañado de papá o mamá con identificación oficial con fotografía (INE, Pasaporte Mexicano, Cédula Profesional, Licencia para conducir del Estado de Jalisco).
                *Acta de Nacimiento reciente del menor.
                *Cédula CURP del menor.
                *Cédula RFC de padre o tutor con homoclave.
                *Comprobante de domicilio no mayor a 60 días de su emisión.
                *El dato de dos referencias familiares o tres amistades: nombre, domicilio y teléfono.
                *$100.00 mínimo para abrir la cuenta.

                <b>Datos adicionales:</b>
                Dos referencias familiares o tres amistades: nombre, domicilio y teléfono.


                <b>EXTRANJEROS</b>
                Los extranjeros (adultos y menores) además de cumplir con los datos señalados, deberán presentar:
                • Original de Pasaporte vigente.
                • Documento FMM que acredite su legal estancia en el país, expedido por la SRE.
                • Datos de su domicilio en el país de origen.
                • IMPORTANTE: Los documentos personales deberán estar traducidos al español (documento oficial).
                Caja Popular San Pablo, institución reconocida por manejar intereses justos y excelentes ventajas competitivas; nos ponemos a tus órdenes en el teléfono 38831830 Ext. 1110
                De lunes a viernes de 9:00 a 18:45 horas y sábados de 9:00 a 13:00 horas.
                Cooperativa Autorizada y Supervisada por la CNBV.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              ¿Qué es la Parte Social?
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-2">Es la Aportación al Capital Social de la Cooperativa, lo que permite ser Socio activo de la Institución; existe un Certificado Oficial que avala la inscripción como Socio, se otorga al momento de liquidar la cantidad estipulada de $1,000.00 (Un mil pesos) según las Normas Vigentes. Ésta la define de manera autónoma cada entidad y al cubrirse completamente, se empiezan a recibir los beneficios; cabe mencionar que ésta cantidad es dinero del Socio, si por alguna situación decide separarse de Caja San Pablo, se devolverá íntegramente al titular.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
              ¿De qué manera puedo saber si mis ahorros están seguros en una Sociedad Cooperativa de Ahorro y Préstamo?
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-3">La Comisión Nacional Bancaria y de Valores (CNBV), de acuerdo a la Ley para Regular las Actividades de las Sociedades Cooperativas de Ahorro y Préstamo, solo realiza supervisión a Entidades Autorizadas, para seguir con las operaciones de Ahorro y Préstamo como Cooperativas con niveles de operación I a IV (SOCAP).
                Así mismo se tiene el apoyo del Fideicomiso Fondo de Supervisión Auxiliar de Sociedades Cooperativas de Ahorro y Préstamo y de Protección a sus Ahorradores (FOCOOP) hasta por 25 mil UDIS para un caso de contingencia.
                Por la seguridad de tu patrimonio, utiliza únicamente los servicios que ofrecen las Sociedades Cooperativas de Ahorro y Préstamo autorizadas como Caja Popular San Pablo, puedes consultar en el Padrón de Entidades Financieras Supervisadas (PES) entrando a <a href="www.gob.mx/cnbv">www.gob.mx/cnbv</a></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
              ¿Al cuánto tiempo de haber ingresado como Socio, puedo solicitar un préstamo?
            </button>
          </h2>
          <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-1">Una vez cubierta la Parte Social ($1,000.00), eres oficialmente Socio, por lo que puedes hacer uso de los derechos en cuentas de Ahorro y Créditos; es importante mencionar que éste trámite lleva una valoración crediticia por nuestros analistas, y tu saldo en ahorro y capacidad de pago son piezas clave para la autorización; la variación es cuestión de días.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
              Ingresé hace tiempo y no concluí la Parte Social, ¿Qué pasa con mi cuenta?
            </button>
          </h2>
          <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-2">Jamás pierdes tu dinero es muy importante aclararlo, éste es enviado a una cuenta por cobrar, que puedes recuperar presentando tu identificación oficial.
                Si el tiempo no asciende a un periodo entre 3 a 6 meses como mínimo, puede que tu cuenta aun esté vigente; si deseas recuperarla solo debes realizar un depósito de complemento a la brevedad; en cambio, si el periodo es más largo, necesitarás darte de alta nuevamente en módulos de captación, con la documentación oficial.
                Si te encuentras en este supuesto, llama al módulo de Información al 3338831830 Ext. 1110 u 1161, en donde pueden informarte la situación de tu cuenta</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingtwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapsetwelve" aria-expanded="false" aria-controls="flush-collapsetwelve">
              ¿En dónde puedo consultar mis saldos?
            </button>
          </h2>
          <div id="flush-collapsetwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingtwelve"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-3">Puedes revisar e imprimir saldos en los kioscos que se encuentran destinados para ello en nuestras oficinas, también puedes revisarlo en la página web registrándote e ingresando al apartado “SALDOS EN LÍNEA”, así como en cada una de nuestras sucursales, movimiento exclusivo del titular de la cuenta e identificándote debidamente.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
              ¿Puedo realizar movimientos en cualquier Sucursal San Pablo?
            </button>
          </h2>
          <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-1">Nuestras oficinas están conectadas por red, por lo que puedes efectuar cualquier trámite, deposito, pago, ahorro, registro en la Sucursal que decidas.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFourteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
              ¿Las promociones de Caja Popular San Pablo son para todos?
            </button>
          </h2>
          <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-2">Cada una de las promociones establecidas por la Cooperativa, presentan una serie de Bases que se dan a conocer en el mes de enero de todos los años; la convocatoria está abierta para todos los Socios, pero solo aquellos que acepten y cumplan las condiciones, serán acreedores. Encuentra toda la Información en la Sección Promociones, Revista Mensual, Redes Sociales o directamente en tu Sucursal.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFiveTeen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFiveTeen" aria-expanded="false" aria-controls="flush-collapseFiveTeen">
              ¿Quiénes son nuestros Directivos?
            </button>
          </h2>
          <div id="flush-collapseFiveTeen" class="accordion-collapse collapse" aria-labelledby="flush-headingFiveTeen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="resp resp-3">Son Socios, como todos nosotros, que se eligen mediante los periodos de elecciones en las Asambleas Generales que se realizan cada año.
                Las personas deben tener conocimientos básicos para poder manejar una institución como San Pablo; cada año se celebran los Talleres “Competencias Directivas” que tienen como finalidad, preparar a quienes tienen la intención de formar parte de nuestro Órgano de Gobierno; si estás interesado en ser parte del equipo, mantente atento a las siguientes convocatorias que se publican en nuestros medios de información.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>

   <hr class="linea-horizontal" style="margin: 50px 0;">

    <section class="buzon">
        <!-- Contenido de la quinta sección -->
        <img class="imgfb" src="../assets/icon/buzon.png" alt="">
        <div class="titulofb">Buzón de Comentarios</div>
        <div class="descfb"> Nos importa tu opinión, haznos saber tus recomendaciones para brindarte un mejor servicio</div>
        <a routerLink="/buzon" class="nov-event-enlace">
            <div class="nov-event-boton">Ir a Buzón</div>
        </a>
    </section>

</main>
