<header class="header--inicio">

  <app-gallery></app-gallery>
  <div class="container py-5">

    <div class="row gap-4 justify-content-center">
      <a routerLink="/inicio/socio" class="col-lg-4 text-center">
        <app-img alt="imagen socios estrechando la mano" path="assets/socios-comerciales-sonrientes.webp" class="bd-placeholder-img rounded-circle" style="height: 140px;width: 140px;object-fit: cover;background-color: var(--color-azul-oscuro);"></app-img>

        <h2>QUIERO SER SOCIO</h2>
        <p>Unete a Caja Popular San Pablo presentando solo 4 documentos</p>
        <p><a class="btn" href="#" style="background-color: var(--color-primario); color: white">Ver detalles »</a></p>
      </a>
      <a href="https://www.educoofin.com/" class="col-lg-4 text-center" target="_blank">
        <app-img alt="imagen puerco educoof" path="assets/icon/puerco_educoof.webp" class="bd-placeholder-img rounded-circle" style="height: 140px;width: 140px;object-fit: contain;background-color: var(--color-azul-oscuro);"></app-img>

        <h2>EDUCACIÓN COOPERATIVA Y FINANCIERA</h2>
        <p>Ingresa a conocer nuestra nueva pagina</p>
        <p><a class="btn" href="#" style="background-color: var(--color-primario); color: white">Ver detalles »</a></p>
      </a>
      <a routerLink="/inicio/creditos" class="col-lg-4 text-center">
        <app-img alt="imagen creditos" path="assets/alegre-joven-emocionada-telefono-movil-tarjeta-credito.webp" class="bd-placeholder-img rounded-circle" style="height: 140px;width: 140px;object-fit: cover;background-color: var(--color-azul-oscuro);"></app-img>

        <h2>CREDITOS</h2>
        <p>Conoce nuestros creditos con la tasa de interes mas baja</p>
        <p><a class="btn" href="#" style="background-color: var(--color-primario); color: white">Ver detalles »</a></p>
      </a>
    </div>


  </div>

</header>

<main>

  <!-- quiero aplicar mi funcion de animacion en mi plantilla html -->

  <cuatro-botones-component></cuatro-botones-component>
  <div class="animated-element" (window:scroll)="onScroll()">
    <beneficios-component></beneficios-component>
  </div>
  <div class="animated-element" (window:scroll)="onScroll()">
    <otros-component></otros-component>
  </div>
  <div class="animated-element" (window:scroll)="onScroll()">
    <slogan-component></slogan-component>
  </div>
  <div class="animated-element" (window:scroll)="onScroll()">
    <preguntas-frecuentes-component></preguntas-frecuentes-component>
  </div>

  <hr class="linea-horizontal" style="margin: 50px 0;">

  <div class="animated-element" (window:scroll)="onScroll()">
    <buzon-component-inicio></buzon-component-inicio>
  </div>

</main>
