.header--credito {
  background-image: url(../../../../assets/creditoimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 290px 0;

  .header--titulo {
    font-size: 3rem;
    text-shadow: 0px 0px 10px white;
    color: var(--color-negro);
  }
}

main {
  .back-black{
    background-color: var(--color-gris);
  }
  .credito-contaner {
    width: 100%;
    padding: 40px 10%;
    margin: auto;
    max-width: 1750px;


    .credito-tipe {
      font-size: 3rem;
      color: var(--color-negro);
      text-align: center;
    }

    .card-container {
      padding: 40px 0px;
      gap: 0px 80px;
      justify-content: space-evenly;

      .card-credito {
        width: 220px;
        height: auto;
        text-align: center;
        text-decoration: none;
        padding: 0;

        .card-credito-img {
          background-size: cover;
          width: 220px;
          height: 220px;
        }

        .card-credito-title {
          font-size: 1.2rem;
          height: 65px;
          color: var(--color-negro);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .card-credito-btn {
          font-size: 1.1rem;
          background-color: var(--color-secundario);
          color: var(--color-blanco);
          height: 40px;
          width: 110px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          cursor: pointer;
        }
      }


      .card-credito-info {
        width: 80%;
        padding: 30px 15px;
        height: auto;
        background-color: var(--color-secundario);
        border-radius: 20px;
        display: block;
        width: 92%;
        min-width: 300px;

        .accordion{
          .accordion-item{
            margin-bottom: 15px;
            border-radius: 10px;
            overflow: hidden;
            .accordion-header{
              .accordion-button{
                b{
                  color: var(--color-secundario);
                }
              }
            }
          }
        }

        .card-credito-detalle {
          margin-bottom: 30px;
          font-size: 20px;
          color: var(--color-blanco);
          text-align: center;
        }

        .card-credito-btn-simulador {
          display: flex;
          font-size: 1.2rem;
          font-weight: bold;
          background-color: var(--color-gris);
          padding: 15px;
          border-radius: 10px;
          color: var(--color-naranja);
          margin: auto auto 35px auto;

          i {
            margin-left: 5px;
          }
        }

        .btnsinfo {
          width: 100%;
          margin-bottom: 10px;
          font-size: 1.5rem;
          color: var(--color-azul-oscuro);
        }
      }
    }
  }
}
