<portada-component title="EDUCACIÓN COOPERATIVA Y FINANCIERA" colorText="text-black" img="Portada-educoof"
  alt="Dos personas chocando la mano"></portada-component>

<div class="container py-5">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="/servicio/mantenimiento" class="card text-center">
        <img src="assets/icon/puerco educoof.webp" loading="lazy" alt="educoof.com"
          style="object-fit: contain;background-color: var(--color-primario);">
      </a>
    </div>

    <div class="col d-flex justify-content-center">
      <a routerLink="/servicio/blog" class="card text-center">
        <img src="assets/icon/blog educoof.gif" loading="lazy" alt="Blog educación cooperativa y financiera"
          style="object-fit: contain;">
      </a>
    </div>
  </div>

</div>
