.container {

  .card {
    max-width: 485px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 0;
    overflow: hidden;

    &:hover {
      transform: translateY(-10px);
      box-shadow: black 0px 0px 20px -5px;
    }

  }
}
