<div class="gallery">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div *ngFor="let gallery of gallerys" class="carousel-item" [ngClass]="{'active': gallery.isActive}">
        <!-- <app-img class="gallery-image"[alt]="gallery.alt" [path]="gallery.path" style="width: 100%; height: auto;"></app-img> -->
        <img [src]="gallery.path" [alt]="gallery.alt" style="width: 100%; height: auto;">

          <a *ngIf="gallery.btn && !gallery.rlink; else conRuta" [class]="gallery.classbtn"  [href]="gallery.href" target="_blank"
            [style]="gallery.styleBtn">{{gallery.btntext}}<i *ngIf="gallery.icon" [class]="gallery.iconName"></i>
          </a>
          <ng-template #conRuta>
            <a [class]="gallery.classbtn" [routerLink]="gallery.rlinkName" target="_blank"
            [style]="gallery.styleBtn">{{gallery.btntext}}<i *ngIf="gallery.icon" [class]="gallery.iconName"></i>
          </a>
          </ng-template>
      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
