<div class="gallery">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div *ngFor="let gallery of gallerys; let i = index" class="carousel-item"
        [ngClass]="{'active': gallery.isActive}">
        <picture>
          <source media="(min-width: 576px)" [srcset]="gallery.path+'.webp'">
          <source media="(max-width: 576px)" [srcset]="gallery.path+'-movil.webp'">
          <!-- <img width="1300" height="652" [alt]="gallery.alt" [src]="gallery.path+'.webp'" [loading]="i > 0 ? 'lazy' : 'auto'"> -->
          <img [alt]="gallery.alt" [src]="gallery.path+'.webp'" [loading]="i > 0 ? 'lazy' : 'auto'">
        </picture>


        <a *ngIf="gallery.btn && !gallery.rlink; else conRuta" class="btnGallery" href="{{gallery.href}}"
          target="_blank" [style]="gallery.styleBtn">{{gallery.btntext}}
        </a>
        <ng-template #conRuta>
          <a class="btnGallery" [routerLink]="gallery.rlinkName" href="{{gallery.href}}" target="_blank"
            [style]="gallery.styleBtn">{{gallery.btntext}}
          </a>
        </ng-template>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>


    </div>
  </div>
</div>
