<section class="slogan py-5">
  <div class="container">
    <div class="slogan-texto text-white fs-2">"UNIDOS EN LA COOPERACIÓN,
      POR UN FUTURO MEJOR"</div>
    <div class="circuloycheck" routerLink="/info/historia">
      <app-img class="" alt="icono check" path="assets/icon/cheque.webp" style="width: 50px;"></app-img>
      <!-- <img src="./assets/icon/cheque.webp" alt=""> -->
      <div class="texto-circulo">HISTORIA</div>
    </div>
    <div class="circuloycheck" routerLink="/info/trabajo">
      <app-img class="" alt="icono check" path="assets/icon/cheque.webp" style="width: 50px;"></app-img>
      <div class="texto-circulo">BOLSA DE TRABAJO</div>
    </div>
  </div>
</section>
