<section class="slogan py-5">
  <div class="container">
    <div class="slogan-texto text-white fs-2">"UNIDOS EN LA COOPERACIÓN,
      POR UN FUTURO MEJOR"</div>
    <div class="circuloycheck" routerLink="/info/historia">
      <img src="./assets/icon/cheque.png" alt="">
      <div class="texto-circulo">HISTORIA</div>
    </div>
    <div class="circuloycheck" routerLink="/info/trabajo">
      <img src="./assets/icon/cheque.png" alt="">
      <div class="texto-circulo">BOLSA DE TRABAJO</div>
    </div>
  </div>
</section>
