<header class="header--inicio header--revista">

    <h2 class="header--titulo text-center">LIBERTADOR</h2>

    <app-redes-sociales></app-redes-sociales>

</header>

<main>
    <section class="revistas container">
        <p class="revistas-subtitle text-center my-5">Conoce lo nuevo y relevante que tiene Caja San Pablo</p>
        <div class="row justify-content-around my-5 gap-5">
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/REV Junio 2023.jpg" alt="">
                <div class="card-title my-4 text-center">JUNIO 2023</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-mayo-2023.jpg" alt="">
                <div class="card-title my-4 text-center">MAYO 2023</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-abril-2023.jpg" alt="">
                <div class="card-title my-4 text-center">ABRIL 2023</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-marzo-2023.jpg" alt="">
                <div class="card-title my-4 text-center">MARZO 2023</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-febrero-2023.jpg" alt="">
                <div class="card-title my-4 text-center">FEBRERO 2023</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/revenero2023.jpg" alt="">
                <div class="card-title my-4 text-center">ENERO 2023</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
        </div>

    </section>

    <div class="tiulo-año container-fluid text-center my-5">2022</div>

    <section class="revistas container">

        <div class="cards-revistas row justify-content-around my-5 gap-5">
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-diciembre2022.jpg" alt="">
                <div class="card-title my-4 text-center">DICIEMBRE 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-noviembre-2022.jpg" alt="">
                <div class="card-title my-4 text-center">NOVIEMBRE 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-octubre2022.jpg" alt="">
                <div class="card-title my-4 text-center">OCTUBRE 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-septiembre-2022.jpg" alt="">
                <div class="card-title my-4 text-center">SEPTIEMBRE 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-agosto2022.jpg" alt="">
                <div class="card-title my-4 text-center">AGOSTO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-julio-2022.jpg" alt="">
                <div class="card-title my-4 text-center">JULIO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-junio-2022.jpg" alt="">
                <div class="card-title my-4 text-center">JUNIO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-mayo-2022.jpg" alt="">
                <div class="card-title my-4 text-center">MAYO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-abril2022.jpg" alt="">
                <div class="card-title my-4 text-center">ABRIL 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-marzo-2022.jpg" alt="">
                <div class="card-title my-4 text-center">MARZO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-febrero-2022.jpg" alt="">
                <div class="card-title my-4 text-center">FEBRERO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-enero-2022.jpg" alt="">
                <div class="card-title my-4 text-center">ENERO 2022</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>

        </div>

    </section>

    <div class="tiulo-año container-fluid text-center my-5">2021</div>

    <section class="revistas container">

        <div class="cards-revistas row justify-content-around my-5 gap-5">
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-diciembre-2021.jpg" alt="">
                <div class="card-title my-4 text-center">DICIEMBRE 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-noviembre-2021.jpg" alt="">
                <div class="card-title my-4 text-center">NOVIEMBRE 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-octubre-2021.png" alt="">
                <div class="card-title my-4 text-center">OCTUBRE 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-septiembre-2021.jpg" alt="">
                <div class="card-title my-4 text-center">SEPTIEMBRE 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-agosto-2021.jpg" alt="">
                <div class="card-title my-4 text-center">AGOSTO 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-julio-2021.jpg" alt="">
                <div class="card-title my-4 text-center">JULIO 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-junio-2021.jpg" alt="">
                <div class="card-title my-4 text-center">JUNIO 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-mayo-2021.jpg" alt="">
                <div class="card-title my-4 text-center">MAYO 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
            <a href="" class="card-revista col-3 p-0">
                <img class="card-img" src="assets/img-revistas/rev-abril-2021.jpg" alt="">
                <div class="card-title my-4 text-center">ABRIL 2021</div>
                <div class="btn-leer-mas text-center">Leer más</div>
            </a>
        </div>

    </section>

</main>
