.header--profun {
  background-image: url(../../../../assets/damian-markutt-vaG8rOJLDHo-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px 0;
}

.profun{
  .nota{
    background-color: var(--color-secundario);
  }
}
