<header class="header--servicios">

  <h2 class="text-center text-white">PAGO DE SERVICIOS</h2>

  <app-redes-sociales></app-redes-sociales>

</header>

<main>
  <section class="servicios">
    <div class="container py-5">

      <h2 class="text-center">SERVICIOS</h2>
      <p class="fs-5 mb-5">Como un servicio adicional, Caja San Pablo también te da opción para que puedas pagar tus cuentas de Luz (CFE) y
        Agua (SIAPA) en nuestras oficinas, presentando el recibo con 5 días hábiles antes de su vencimiento.
        Adicionalmente, en oficina Matriz puedes realizar el pago a tu recibo TELMEX. <br><br>

        Recuerda que éste y todos los beneficios que otorga tu Cooperativa son para Socios cumplidos; ahorra, se puntual
        en tus créditos, evita los retiros a tu cuenta de Ahorro y aprovecha todas las ventajas que tenemos para ti.</p>

      <div class="row justify-content-evenly">
        <div class="col-12 col-lg-4 col-xl-4 mb-3">
          <img src="assets/cfe.jpg" class="img-thumbnail rounded" alt="">
        </div>
        <div class="col-12 col-lg-5 col-xl-4 mb-3">
          <img src="assets/siapa.jpg" class="img-thumbnail rounded" alt="">
        </div>
        <div class="col-12 col-lg-5 col-xl-4 mb-3">
          <img src="assets/telmex.jpg" class="img-thumbnail rounded" alt="">
          <h3 class="text-center bg-warning">SOLO EN OFICINA MATRIZ</h3>
        </div>
      </div>

    </div>
  </section>
</main>
