
<header class="header--inicio">

  <h2 class="text-center text-white">AVISO DE <br>PRIVACIDAD</h2>


  <!-- <app-redes-sociales></app-redes-sociales> -->

</header>

<main>

  <section class="aviso--container">

    <div class="container">
      <div class="aviso--container-desc"> <br><br>

        En <b><b>Caja Popular San Pablo</b> Sociedad Cooperativa de Ahorro y Préstamo de Responsabilidad Limitada de
          Capital Variable</b> (en adelante <b>Caja Popular San Pablo</b>) estamos convencidos que el principal activo son
        nuestros Socios y Usuarios; por ello que la seguridad de su información es nuestra prioridad, por lo que la
        protegemos mediante el uso, aplicación y mantenimiento de altas medidas de seguridad técnicas, físicas y
        administrativas.<br><br>

        Nuestros Socios y Usuarios tienen la oportunidad de escoger entre una amplia gama de productos y servicios,
        sabiendo que sus datos personales serán usados, almacenados, tratados y que estarán protegidos de manera
        confidencial de acuerdo a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los
        Particulares (en adelante LFPDPPP) por lo que con el fin de darles a conocer la información relativa a las
        características principales del tratamiento al que serán sometidos sus datos personales, <b>Caja Popular San
          Pablo</b> emite el presente <b>Aviso de Privacidad.</b><br><br>

        <b>Responsable del tratamiento de los datos personales:</b><br><br>

        Le informamos que el responsable de recabar y dar tratamiento o utilizar los datos personales que Usted nos
        proporcione es: <b>Caja Popular San Pablo Sociedad Cooperativa de Ahorro y Préstamo de Responsabilidad Limitada
          de Capital Variable.</b><br><br>

        <b>Domicilio del responsable:</b><br>
        Para efectos del presente <b>Aviso de Privacidad, Caja Popular San Pablo</b> señala como su domicilio el ubicado
        en la calle Josefa Ortiz de Domínguez número 3,008 en la colonia
        Libertad de Guadalajara, Jalisco, Código Postal 44750.
      </div>

      <div class="aviso--container-desc">
        <div class="aviso--container-subtitle">Finalidades del tratamiento de datos</div>
        <b>a)</b> Aquellas indispensables para el cumplimiento de la relación jurídica, entre el <b>Responsable</b> y
        nuestros Socios y Usuarios, las cuales son:<br>
        <b>I)</b> El cumplimiento de la relación contractual derivada de la solicitud y/o contratación de nuestros productos o
        servicios financieros;<br>
        <b>II)</b> Para corroborar, verificar, validar su identidad y confirmar la veracidad de la información proporcionada,
        incluyendo la de sus beneficiarios, obligados solidarios, avales, codeudores y/o garantes según resulte
        aplicable;<br>
        <b>III)</b> Administrar, operar y dar seguimiento a los servicios y/o productos financieros que solicita o contrata con
        nosotros;<br>
        <b>IV)</b> Para integrar expedientes, bases de datos y sistemas necesarios para llevar a cabo las operaciones financieras
        correspondientes;<br>
        <b>V)</b> Para cumplimentar disposiciones de conocimiento del cliente y prevención de lavado de dinero, conforme lo
        prevé la legislación respectiva;<br>
        <b>VI)</b> Para elaboración de encuestas, participar en campañas de educación e inclusión financiera, reclamar
        entrega de premios y otros programas de lealtad, así como en su caso para los procesos de cobranza que pudieran
        derivar de dicha relación jurídica;<br>
        <b>VII)</b> Para llevar a cabo análisis de riesgo y viabilidad de crédito; y cumplir con regulaciones, políticas y
        medidas de seguridad física y protección civil, tales como sistemas de video vigilancia, acceso a instalaciones
        y áreas restringidas.<br><br>

        <b>b)</b> Aquellas no indispensables para el cumplimiento de dicha relación jurídica. De manera adicional, se
        podrán utilizar los datos personales para las siguientes finalidades secundarias:<br>
        <b>I)</b> mercadotecnia, publicidad y prospección comercial;<br>
        <b>II)</b> ofrecerle, en su caso, otros servicios y/o productos financieros;<br>
        <b>III)</b> remitirle promociones de los citados productos financieros;<br>
        <b>IV)</b> hacer de su conocimiento o invitarle a participar en nuestras actividades no lucrativas de compromiso u obra
        social que tengan como objetivo promover el desarrollo de las personas, a través de proyectos educativos,
        sociales, ecológicos y culturales;<br>
        <b>V)</b> para realizar análisis estadístico de generación de modelos de información y/o perfiles de comportamiento
        actual y predictivo, y participar en encuestas, sorteos y promociones.
        Si bien estas finalidades no son necesarias para la prestación de los servicios y productos que solicita o
        contrata con nosotros, las mismas nos permiten brindarle un mejor servicio y elevar su calidad.<br><br>

        <b>Datos personales que podrán ser recabados y tratados por Caja Popular San Pablo</b>:<br><br>

        Para el cumplimiento de las finalidades previamente establecidas, <b>Caja Popular San Pablo</b> da tratamiento a
        los siguientes datos personales:<br>
        Las categorías de datos personales que le podrán ser requeridas para ser recabados y que están sujetas a
        tratamiento son:<br><br>
        <b>I)</b> Datos de identificación;<br>
        <b>II)</b> Datos de contacto;<br>
        <b>III)</b> Datos sobre características físicas;<br>
        <b>IV)</b> Datos biométricos, limitados a huella dactilar y rasgos de identificación facial;<br>
        <b>V)</b> Datos laborales;<br>
        <b>VI)</b> Datos académicos o profesionales;<br>
        <b>VII)</b> Datos migratorios;<br>
        <b>VIII)</b> Datos patrimoniales y/o financieros;<br><br>

        Adicionalmente le informamos que para cumplir con las finalidades previstas en este aviso de privacidad, serán
        recabados y tratados datos personales sensibles, como aquéllos que refieren a:<br><br>

        <b>a)</b> Menores de edad<br>
        <b>b)</b> Personas con discapacidad y/o capacidades diferentes<br><br>

        <b>Opciones y medios que Caja Popular San Pablo ofrece para limitar el uso o divulgación de sus datos
          personales</b><br><br>

        Usted o su representante debidamente acreditado podrá, en cualquier momento, oponerse al uso o divulgación de
        sus datos personales para las finalidades que no sean indispensables para la relación jurídica que dio origen al
        servicio que hubiese contratado o solicitado a través del procedimiento para el ejercicio de los derechos
        A.R.C.O., el cual se detalla en este <b>Aviso de Privacidad.</b><br><br>

        <b>Ejercicio de Derechos A.R.C.O.:</b><br>
        Usted o su representante debidamente acreditado, cuando proceda, podrán ejercer los derechos de Acceso,
        Rectificación, Cancelación u Oposición (A.R.C.O.) que la Ley Federal de Protección de Datos Personales en
        Posesión de los Particulares prevé, acudiendo a cualquiera de nuestras sucursales para que mediante el formato
        que le proporcionen para tales efectos, Usted pueda Acceder, Rectificar, Cancelar u Oponerse al tratamiento de sus
        datos personales, señalando que dicho formato deberá estar acompañado de los documentos que acrediten la
        identidad del titular de los datos personales (identificación oficial con fotografía) o, en su caso, la
        representación legal del titular de los datos personales, en términos de la legislación común, y cualquier
        otro elemento o documento que facilite la localización de los datos personales.<br><br>

        En el caso de solicitudes de rectificación se deberán indicar las modificaciones a realizarse y aportar la
        documentación que sustente la petición.<br><br>

        La solicitud y los documentos antes mencionados se deberán presentar en cualquier sucursal de <b>Caja Popular San
          Pablo</b>, la cual canalizará la solicitud al departamento responsable de atender las mismas. El departamento
        dará trámite a las solicitudes de los titulares de datos personales para el ejercicio de los derechos A.R.C.O.
        en un plazo no mayor a 20 (veinte) días hábiles contados a partir de su recepción. Es importante mencionar que
        el ejercicio de cualquiera de los derechos A.R.C.O. no es requisito previo ni impide el ejercicio de otro derecho.
        Si resulta procedente su solicitud, ésta se hará efectiva dentro de los 15 (quince) días hábiles siguientes a
        la fecha en que se comunique la respuesta. Los plazos antes referidos podrían ser ampliados una sola vez por un
        periodo igual, si así lo justifican las circunstancias.<br><br>

        Usted podrá obtener el formato para ejercer sus derechos A.R.C.O. en cualquiera de las sucursales de <b>Caja
          Popular San Pablo</b>.<br><br>


        La respuesta a las solicitudes de derechos A.R.C.O. que cumplan con los requisitos antes mencionados podrá ser
        notificada al titular de los datos personales o a su representante vía correo electrónico (cuando se proporcione
        la dirección de correo electrónico) o por medio de mensajería; asimismo, se encontrará disponible en la
        sucursal de <b>Caja Popular San Pablo</b> en la que haya presentado su solicitud, previa acreditación de la
        identidad por cualquiera de los medios señalados anteriormente.<br><br>

        Tratándose del derecho de acceso, en la respuesta a su solicitud le indicaremos la modalidad o medio de
        reproducción mediante el cual podrá obtener la información solicitada.<br><br>

        Por cuestiones de seguridad, no se atenderán solicitudes de ejercicio de derechos A.R.C.O. que sean enviadas por
        correo electrónico, ya que a través de dicho medio es imposible acreditar la personalidad del titular de los
        datos personales y/o su representante.<br><br>

        <b>Revocación del consentimiento:</b><br><br>

        Usted o su representante debidamente acreditado podrá, en cualquier momento, oponerse al uso o divulgación de
        sus datos personales para las finalidades que no sean indispensables para la relación jurídica que dio origen al
        servicio que hubiese contratado o solicitado, acudiendo a cualquiera de nuestras sucursales para que mediante el
        formato que le proporcionen para tales efectos, indicando “Me opongo al uso o divulgación de mis datos
        personales”, o cualquier otra forma que haga evidente la oposición.<br><br>

        <b>La revocación del consentimiento al tratamiento de sus datos personales únicamente es aplicable para aquellas
          finalidades que no son necesarias para el cumplimiento de las obligaciones derivadas de la contratación de
          productos y servicios financieros.</b><br><br>

        <b>Modificaciones al aviso de privacidad:</b><br><br>

        El presente <b>Aviso de Privacidad</b> puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
        requerimientos legales; de necesidades propias de <b>Caja Popular
          San Pablo</b>, por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad, o por otras
        causas.<br><br>

        Cualquier modificación al presente <b>Aviso de Privacidad</b> le será notificada a través de cualquiera de los
        siguientes medios: un comunicado por escrito enviado a su domicilio o entregado en cualquier sucursal <b>Caja
          Popular San Pablo</b>; un mensaje contenido en su estado de cuenta; un mensaje enviado a su correo electrónico
        o a su teléfono móvil; un mensaje dado a conocer a través de nuestra página de internet
        <b>www.libertadsanpablo.com</b> o bien, a través de mensajes publicados en cualquiera de nuestras sucursales o en
        periódicos de amplia circulación.<br><br>

        <div class="aviso--container-boldleft">Fecha de actualización: Agosto del 2021.</div>
      </div>
    </div>


  </section>

</main>
