<footer>
  <div class="footer-content">
    <div class="container">
      <!-- Contenido del pie de página/footer -->
      <div class="row">

        <div routerLink="info/buro" class="footer-img col-12 col-md-4">
          <img loading="lazy" width="120" height="110" src="assets/icon/logo-de-buro.webp"  alt="logo buro">
        </div>


        <hr class="linea-horizontal d-md-none">

        <div class="col-12 col-md-4 text-center text-md-start mb-5 mb-md-0">
          <div class="footer-titulo">ENLACES WEB</div>

          <ul class="enlaces-web">
            <li><a routerLink="info/aviso" aria-label="Aviso de Privacidad">Aviso de Privacidad</a></li>
            <li><a href="https://www.gob.mx/condusef" aria-label="Visita la pagina oficial de la Condusef" target="_blank">Condusef</a></li>
            <li><a href="assets/pdf/unidad-especializada.pdf" aria-label="Abrir PDF Unidad Especializada de Atencion a Socios" target="_blank">Unidad Especializada de Atencion a Socios</a></li>
            <li><a href="assets/pdf/DespachosDeCobranza.pdf" aria-label="Abrir PDF Despachos de Cobranza Externos" target="_blank">Despachos de Cobranza Externos</a></li>
            <li><a href="assets/pdf/derechos_arco.pdf" aria-label="Abrir PDF Derechos Arco" target="_blank">Derechos Arco</a></li>
            <li><a href="assets/pdf/CostosYComiciones_Diciembre 2024.pdf" aria-label="Abrir PDF Costos y Comisiones" target="_blank">Costos y Comisiones</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-4 text-center d-flex justify-content-center align-items-center">
          <app-redes-sociales></app-redes-sociales>
        </div>

      </div>
    </div>
  </div>

  <div class="derechos text-center p-2">
    <div class="derechos-texto">© 2015 - 2024 Caja Popular San Pablo S.C. de A.P. de R.L. de C.V. Reservados todos los
      derechos.
    </div>
  </div>
</footer>

