<footer>
  <div class="container">
    <!-- Contenido del pie de página/footer -->
    <div class="row justify-content-center">

      <div routerLink="info/buro" class="footer-img col-12 col-md-4 d-flex align-items-center justify-content-center" alt="">
        <img alt="logo buro" src="assets/icon/logo-de-buro.webp" style="width: 120px;">
        <!-- <img src="assets/icon/logo-de-buro.webp" alt=""> -->
      </div>


      <hr class="linea-horizontal d-md-none d-flex">

      <div class="col-12 col-md-4 text-center text-md-start mb-5 mb-md-0">
        <div class="footer-titulo">ENLACES WEB</div>

        <ul class="enlaces-web">
          <li><a routerLink="info/aviso">Aviso de Privacidad</a></li>
          <li><a href="https://www.gob.mx/condusef" target="_blank">Condusef</a></li>
          <li><a href="assets/pdf/unidad-especializada.pdf" target="_blank">Unidad Especializada de Atencion a Socios</a></li>
          <li><a href="assets/pdf/DespachosDeCobranza.pdf" target="_blank">Despachos de Cobranza Externos</a></li>
          <li><a href="assets/pdf/derechos_arco.pdf" target="_blank">Derechos Arco</a></li>
          <li><a href="assets/pdf/CostosYComiciones_Septiembre-2023.pdf" target="_blank">Costos y Comisiones</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 text-center d-flex justify-content-center align-items-center">
        <app-redes-sociales></app-redes-sociales>
      </div>

    </div>
  </div>


</footer>

<div class="derechos d-flex align-items-center justify-content-center text-center p-2">
  <div class="derechos-texto">© 2015 - 2023 Caja Popular San Pablo S.C. de A.P. de R.L. de C.V.Reservados todos los
    derechos.
  </div>
</div>
