<portada-component title="QUIERO SER SOCIO" colorText="text-black" img="quiero ser socio" alt="Dos personas chocando la mano"></portada-component>

<section class="deseo--socio-container">
  <div class="deseo--socio-titulo text-center">DESEO SER SOCIO</div>
  <div class="deseo--socio-desc">COPIA Y ORIGINAL DE LOS SIGUIENTES DOCUMENTOS</div>
  <div class="requisitos--container">
    <div class="deseo--socio-subtitulo">Adultos</div>


    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text"> Identificación oficial vigente con fotografía (INE, Pasaporte Mexicano,
        Cédula Profesional, licencia para conducir del Estado de Jalisco)..</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Constancia de RFC con homoclave.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Constancia de CURP</div>
    </div>

    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Comprobante de domicilio no mayor a 60 días de su emisión.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Parte Social $1,000.00.</div>
    </div>

    <div class="deseo--socio-subtitulo">Datos adicionales</div>

    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Teléfono celular del Titular.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Correo electrónico del titular.</div>
    </div>
  </div>
  <div class="requisitos--container requisitos--color">
    <div class="deseo--socio-subtitulo">AHORRADORES MENORES DE EDAD (DE 1 A 17 AÑOS)</div>

    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Acta de nacimiento del menor.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Presentarse acompañado de papá o mamá con identificación oficial con
        fotografía (INE, Pasaporte Mexicano, Cédula Profesional, Licencia para conducir del Estado de Jalisco).</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Constancia de CURP del menor.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text"> Constancia de RFC con homoclave de padre/tutor.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Comprobante de domicilio no mayor a 60 días de su emisión.</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">$100.00 mínimo para abrir la cuenta.</div>
    </div>

    <div class="deseo--socio-subtitulo">Datos adicionales</div>

  </div>

  <div class="requisitos--container">
    <div class="deseo--socio-subtitulo">CIUDADANO MEXICANOS NATURALIZADOS (EXTRANJEROS) Además de cumplir con los datos
      antes mencionados, deberán presentar:</div>

    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Carta de Naturalización. (Instrumento jurídico por el cual se acredita el
        otorgamiento de la nacionalidad mexicana a los extranjeros).</div>
    </div>
    <div class="check--descripcion">
      <img loading="lazy" width="45" height="45" src="../assets/icon/cheque.webp" alt="icono check">
      <div class="check--descripcion-text">Dato de su domicilio en el país de origen. IMPORTANTE:Los documentos
        personales deberán estar traducidos al español (documento oficial).</div>
    </div>


  </div>

  <div class="deseo--socio-desc" style="color:brown;margin-top: 30px;">Importante: Los documentos personales deberán
    estar traducidos al español (documento oficial).</div>

</section>
