<header class="header--alianzas">

  <h2 class="titulo-sucursal text-center">ALIANZAS ESTRATEGICAS</h2>

  <app-redes-sociales></app-redes-sociales>

</header>

<section class="grid" >

  <div class="container">
    <div class="row gap-3 justify-content-evenly">

      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="acuario michin agua peces" data-descripcion="ACUARIO MICHIN">
          <div class="item-contenido">
              <img src="assets/acuario michin.jpg" alt="">
          </div>
          <h2>ACUARIO MICHIN</h2>
          <span>Descuento: 10% en acceso total.</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/acuario-michinPDF.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion estudios centro ceao" data-descripcion="CEAO">
          <div class="item-contenido">
              <img src="assets/CEAO.jpg" alt="">
          </div>
          <h2>CEAO</h2>
          <span>Descuento: 20% en colegiatura.</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/CEAO.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion cecati plantel" data-descripcion="CECATI">
          <div class="item-contenido">
              <img src="assets/channels4_profile.jpg" alt="">
          </div>
          <h2>CECATI 7</h2>
          <span>Descuento: 30% cursos presenciales de lunes a viernes</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/cecati.pdf" target="_blank"><button>Leer más</button></a>
      </div>
      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion cecati plantel" data-descripcion="CECATI">
          <div class="item-contenido">
              <img src="assets/channels4_profile.jpg" alt="">
          </div>
          <h2>CECATI 15</h2>
          <span>Descuento: 50% cursos presenciales de lunes a viernes</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/cecati.pdf" target="_blank"><button>Leer más</button></a>
      </div>
      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion cecati plantel" data-descripcion="CECATI">
          <div class="item-contenido">
              <img src="assets/channels4_profile.jpg" alt="">
          </div>
          <h2>CECATI 16</h2>
          <span>Descuento: 60% cursos presenciales de lunes a viernes</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/cecati.pdf" target="_blank"><button>Leer más</button></a>
      </div>
      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion cecati plantel" data-descripcion="CECATI">
          <div class="item-contenido">
              <img src="assets/channels4_profile.jpg" alt="">
          </div>
          <h2>CECATI 161</h2>
          <span>Todos los cursos presenciales de lunes a viernes costo: $210.00 (Excepto Salud
              Visual)</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/cecati.pdf" target="_blank"><button>Leer más</button></a>
      </div>
      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion cecati plantel" data-descripcion="CECATI">
          <div class="item-contenido">
              <img src="assets/channels4_profile.jpg" alt="">
          </div>
          <h2>CECATI 190</h2>
          <span>Descuento: 25% cursos presenciales de lunes a viernes</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/cecati.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion conalep plantel" data-descripcion="CONALEP">
          <div class="item-contenido">
              <img src="assets/CONALEP.jpg" alt="">
          </div>
          <h2>CONALEP</h2>
          <span>Descuento: 25% en bachiller técnico.</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/conalep.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="hogar y servicios" data-etiquetas="distring panel solar energia" data-descripcion="DISTRING">
          <div class="item-contenido">
              <img src="assets/distring.jpg" alt="">
          </div>
          <h2>DISTRING</h2>
          <span>Descuento: 5% para el Socio.</span>

          <ul class="ctn-tag">
              <li>Hogar</li>
              <li>Servicios</li>
          </ul>
          <a href="../assets/files/Distring.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="hogar y servicios" data-etiquetas="dmx panel solar energia" data-descripcion="DMX">
          <div class="item-contenido">
              <img src="assets/DMX.jpg" alt="">
          </div>
          <h2>DMX</h2>
          <span>Descuento: 5% para el Socio.</span>
          <ul class="ctn-tag">
              <li>Hogar</li>
              <li>Servicios</li>
          </ul>
          <a href="../assets/files/DMX.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="estilo de vida" data-etiquetas="escuela karate artes marciales dojo" data-descripcion="DOJO SEISHIN OKAMI">
          <div class="item-contenido">
              <img src="assets/dojo seishin okami.jpg" alt="">
          </div>
          <h2>DOJO SEISHIN OKAMI</h2>
          <span>Descuento: 40% en clases para Socios.</span>
          <ul class="ctn-tag">
              <li>Estilo de vida</li>
          </ul>
          <a href="../assets/files/dojo seishim.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!-- <div class="item col-3" data-categoria="salud y belleza" data-etiquetas="hospital siloe salud medicina" data-descripcion="HOSPITAL SILOÉ">
          <div class="item-contenido">
              <img src="assets/SILOE.jpg" alt="">
          </div>
          <h2>HOSPITAL SILOÉ</h2>
          <span>Descuento: 10% en consulta para Socios.</span>
          <ul class="ctn-tag">
              <li>Salud</li>
              <li>Belleza</li>
          </ul>
          <a href="../assets/files/hospital siloe.pdf" target="_blank"><button>Leer más</button></a>
      </div> -->

      <!-- <div class="item col-3" data-categoria="hogar y servicios" data-etiquetas="hotel country hospedaje viaje" data-descripcion="HOTEL COUNTRY PLAZA">
          <div class="item-contenido">
              <img src="assets/hotel contry plaza.jpg" alt="">
          </div>
          <h2>HOTEL COUNTRY</h2>
          <span>Descuento: 30% en hospedaje y más.</span>
          <ul class="ctn-tag">
              <li>Hogar</li>
              <li>Servicios</li>
          </ul>
          <a href="../assets/files/Hotel coutry.pdf" target="_blank"><button>Leer más</button></a>
      </div> -->

      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="escuela educacion imac ingles plantel" data-descripcion="IMAC">
          <div class="item-contenido">
              <img src="assets/imac.jpg" alt="">
          </div>
          <h2>IMAC INGLES</h2>
          <span>Descuento: 20% en los primeros pagos.</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/IMAC.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="hogar y servicios" data-etiquetas="energy energia kibryz panel solar" data-descripcion="KI-BRYZ ENERGY">
          <div class="item-contenido">
              <img src="assets/KibryzLogo.png" alt="">
          </div>
          <h2>KI-BRYZ ENERGY</h2>
          <span>Descuento: 6% para Socios.</span>
          <ul class="ctn-tag">
              <li>Hogar</li>
              <li>Servicios</li>
          </ul>
          <a href="../assets/files/Kibryz.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!-- <div class="item col-3" data-categoria="hogar y servicios" data-etiquetas="llantas universo servicios carro" data-descripcion="LLANTAS UNIVERSO">
          <div class="item-contenido">
              <img src="assets/llantas universo.jpg" alt="">
          </div>
          <h2>LLANTAS UNIVERSO</h2>
          <span>Descuento: 5% al 10% en productos y servicios.</span>
          <ul class="ctn-tag">
              <li>Hogar</li>
              <li>Servicios</li>
          </ul>
          <a href="../assets/files/llantas universo.pdf" target="_blank"><button>Leer más</button></a>
      </div> -->

      <div class="item col-3" data-categoria="salud y belleza" data-etiquetas="optica lentes imagen salud" data-descripcion="OPTI IMAGEN">
          <div class="item-contenido">
              <img src="assets/OPTI IMAGEN.jpg" alt="">
          </div>
          <h2>OPTI IMAGEN</h2>
          <span>Descuento: 20% en productos y servicios.</span>
          <ul class="ctn-tag">
              <li>Salud</li>
              <li>Belleza</li>
          </ul>
          <a href="../assets/files/OPTI IMAGEN.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="salud y belleza" data-etiquetas="optica lentes imagen salud" data-descripcion="OPTICA LEMUS">
          <div class="item-contenido">
              <img src="assets/Optica lemus.jpg" alt="">
          </div>
          <h2>OPTICA LEMUS</h2>
          <span>Descuento: 20% en productos y servicios.</span>
          <ul class="ctn-tag">
              <li>Salud</li>
              <li>Belleza</li>
          </ul>
          <a href="../assets/files/Optica Lemus.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!-- <div class="item col-3" data-categoria="hogar y servicios" data-etiquetas="hotel rancho paukaris hospedaje viaje" data-descripcion="RANCHO PAUKARIS">
          <div class="item-contenido">
              <img src="assets/Ranchopaukaris.jpg" alt="">
          </div>
          <h2>RANCHO PAUKARIS</h2>
          <span>Descuento: 10% al 15% en hospedaje.</span>
          <ul class="ctn-tag">
              <li>Hogar</li>
              <li>Servicios</li>
          </ul>
          <a href="../assets/files/RanchoPaukaris.pdf" target="_blank"><button>Leer más</button></a>
      </div> -->

      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="selva magica juegos" data-descripcion="SELVA MAGICA">
          <div class="item-contenido">
              <img src="assets/SELVA MAGICA.jpg" alt="">
          </div>
          <h2>SELVA MÁGICA</h2>
          <span>Descuento: Cupones 2x1 en pase platino.</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/selvaMagica.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <div class="item col-3" data-categoria="estilo de vida" data-etiquetas="ritmo fitness baile escuela" data-descripcion="RITMO FITNESS">
          <div class="item-contenido">
              <img src="assets/ritmo fitness.jpg" alt="">
          </div>
          <h2>RITMO FITNESS</h2>
          <span>Descuento: 20% en clases para Socios.</span>
          <ul class="ctn-tag">
              <li>Estilo de vida</li>
          </ul>
          <a href="../assets/files/Ritmo finess.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!-- <div class="item col-3" data-categoria="estilo de vida" data-etiquetas="fitness gimnasio desporte ejecicio" data-descripcion="STATION 24 FITNESS">
          <div class="item-contenido">
              <img src="assets/station 24 fitness.jpg" alt="">
          </div>
          <h2>STATION 24 FITNESS</h2>
          <span>Descuento: En mensualidades.</span>
          <ul class="ctn-tag">
              <li>Estilo de vida</li>
          </ul>
          <a href="../assets/files/station.pdf" target="_blank"><button>Leer más</button></a>
      </div> -->

      <!--VIAJES ALONDRA-->
      <div class="item col-3" data-categoria="entretenimiento y cultura" data-etiquetas="viajes alondra paseo tour" data-descripcion="VIAJES ALONDRA">
          <div class="item-contenido">
              <img src="assets/VIAJES ALONDRA.jpg" alt="">
          </div>
          <h2>VIAJES ALONDRA</h2>
          <span>Descuento: 7% para Socios en pagos en efectivo.</span>
          <ul class="ctn-tag">
              <li>Entretenimiento</li>
              <li>Cultura</li>
          </ul>
          <a href="../assets/files/viajes alondra.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!--two pie & two spa-->
       <div class="item col-3" data-categoria="salud y belleza" data-etiquetas="two pie spa belleza masajes" data-descripcion="TWO PIE & TWO SPA">
          <div class="item-contenido">
              <img src="assets/TWO SPA.jpg" alt="">
          </div>
          <h2>TWO PIE & TWO SPA</h2>
          <span>Descuento: 15% para Socios.</span>
          <br>
          <ul class="ctn-tag">
              <li>Salud</li>
              <li>Belleza</li>
          </ul>
          <a href="../assets/files/TwoPieyTwoSpa.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!--UNIDAD MEDICA-->
      <div class="item col-3" data-categoria="salud y belleza" data-etiquetas="salud unidad medica medicina" data-descripcion="UNIDAD MEDICA">
          <div class="item-contenido">
              <img src="assets/servicio medico.jpg" alt="">
          </div>
          <h2>UNIDAD MÉDICA</h2>
          <span>Consulta precios de consultas y especialidades</span>
          <ul class="ctn-tag">
              <li>Salud</li>
              <li>Belleza</li>
          </ul>
          <a href="../assets/files/integra unidad medica.pdf" target="_blank"><button>Leer más</button></a>
      </div>

      <!--WIZARDS ALL STARS-->
      <!-- <div class="item col-3" data-categoria="estilo de vida" data-etiquetas="wizards all stars baile academia gimnasia" data-descripcion="WIZARDS ALL STARS">
          <div class="item-contenido">
              <img src="assets/Wizards.jpg" alt="">
          </div>
          <h2>WIZARDS ALL STARS</h2>
          <span>Descuento: 20% en clases de Gimnasia y más.</span>
          <ul class="ctn-tag">
              <li>Estilo de vida</li>
          </ul>
          <a href="../assets/files/wizards.pdf" target="_blank"><button>Leer más</button></a>
      </div> -->
    </div>
  </div>

</section>
