<section class="otros container-fluid">

  <div class="nov-event">
    <div class="row align-items-center">

      <div class="nov-event-titulo-boton col-md-4 col-xl-5">
        <div class="nov-event-titulo">NOVEDADES<br>Y EVENTOS</div>
        <a href="" class="nov-event-enlace">
          <div class="nov-event-boton">Conocer más</div>
        </a>
      </div>
      <img src="assets/jason-goodman-NdZ08c-zu0c-unsplash.jpg" class="nov-event-img col-md-8 col-xl-7 p-0" alt="">

    </div>

  </div>

  <div class="podcast">
    <div class="row align-items-center">

      <img src="assets/will-francis-ZDNyhmgkZlQ-unsplash.jpg" class="nov-event-img col-md-8 col-xl-7 p-0" alt="">
      <div class="nov-event-titulo-boton col-md-4 col-xl-5">

        <div class="nov-event-titulo">PODCAST</div>
        <div class="proximamente">Proximamente</div>
        <a href="" class="nov-event-enlace">
          <div class="nov-event-boton">Conocer más</div>
        </a>

      </div>
    </div>
  </div>

  <div class="youtube">

    <div class="row align-items-center">

      <div class="nov-event-titulo-boton col-12 col-lg-5">
        <div class="nov-event-titulo">NUESTRO<br>CANAL</div>
        <a href="https://www.youtube.com/@cajapopularsanpablo9951" target="_blank" class="nov-event-enlace">
          <div class="nov-event-boton">Conocer más</div>
        </a>
      </div>

      <div class="col-12 col-lg-7">
        <div class="row justify-content-evenly d-none d-lg-flex">
          <a href="https://www.youtube.com/watch?v=3W9E1b9_r7Q" target="_blank"><img class="min-youtube col" src="assets/min-yt1.jpg"
              alt=""></a>
          <a href="https://www.youtube.com/watch?v=bLuf3GoJBPM" target="_blank"><img class="min-youtube col" src="assets/img_logralo.jpg"
              alt=""></a>
          <a href="https://www.youtube.com/watch?v=ffbZKWobhrw" target="_blank"><img class="min-youtube col" src="assets/min-yt3.jpg"
              alt=""></a>
          <a href="https://www.youtube.com/watch?v=Fl8aYzjgyRQ" target="_blank"><img class="min-youtube col" src="assets/min-yt4.jpg"
              alt=""></a>
          <a href="https://youtu.be/wRfz1qZwJ04?si=y5Ttm65H6q9zaMkU" target="_blank"><img class="min-youtube col" src="assets/becas_youtube.jpg"
              alt=""></a>
          <a href="https://www.youtube.com/watch?v=9wI-J3yFDPM" target="_blank"><img class="min-youtube col" src="assets/img_historias_exito.jpg"
              alt=""></a>
        </div>
        <div class="d-flex justify-content-center d-lg-none">
          <a href="https://www.youtube.com/watch?v=bLuf3GoJBPM" target="_blank"><img class="min-youtube col" src="assets/img_logralo.jpg"
            alt=""></a>
        </div>
      </div>

    </div>


  </div>

</section>
