<section class="otros container-fluid">

  <div class="nov-event">
    <div class="row align-items-center">

      <a [routerLink]="['/servicio', 'nov-event']" class="nov-event-titulo-boton col-md-4 col-xl-5">
        <div class="nov-event-titulo animate__animated animate__backInLeft animate__slow">NOVEDADES<br>Y EVENTOS</div>
        <div class="nov-event-enlace">
          <div class="nov-event-boton animate__animated animate__backInLeft animate__slow animate__delay-1s">Conocer más</div>
        </div>
      </a>

      <img loading="lazy" width="1120px" height="758px" src="assets/jason-goodman-NdZ08c-zu0c-unsplash.webp"
        class="col-md-8 col-xl-7 p-0" alt="Imagen  novedades y eventos">

    </div>

  </div>


  <div class="youtube" style="overflow: hidden;">
    <div class="row align-items-center flex-row-reverse">

      <div class="nov-event-titulo-boton col-12 col-lg-5">
        <div class="nov-event-titulo animate__animated animate__backInRight animate__slow">NUESTRO<br>CANAL</div>
        <a href="https://www.youtube.com/@cajapopularsanpablo9951" target="_blank" class="nov-event-enlace" aria-label="Conocer más sobre nuestro canal en YouTube">
          <div class="nov-event-boton animate__animated animate__backInRight animate__slow animate__delay-1s">Conocer más</div>
        </a>
      </div>

      <div class="col-12 col-lg-7">
        <div class="row justify-content-evenly d-none d-lg-flex">
          <a href="https://www.youtube.com/watch?v=3W9E1b9_r7Q" target="_blank" aria-label="Ver video en YouTube">
            <img width="260px" height="145.5px" loading="lazy" class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-3s	3s" src="assets/min-yt1.webp" alt="miniatura youtube">
          </a>
          <a href="https://www.youtube.com/watch?v=bLuf3GoJBPM" target="_blank" aria-label="Ver video en YouTube">
            <img width="260px" height="145.5px" loading="lazy" class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-3s	3s" src="assets/img_logralo.webp" alt="miniatura youtube">
          </a>
          <a href="https://www.youtube.com/watch?v=ffbZKWobhrw" target="_blank" aria-label="Ver video en YouTube"><img width="260px" height="145.5px" loading="lazy"
              class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-3s	3s animate__delay-1.5s" src="assets/min-yt3.webp" alt="miniatura youtube"></a>
          <a href="https://www.youtube.com/watch?v=Fl8aYzjgyRQ" target="_blank" aria-label="Ver video en YouTube"><img width="260px" height="145.5px" loading="lazy"
              class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-3s	3s" src="assets/min-yt4.webp" alt="miniatura youtube"></a>
          <a href="https://youtu.be/wRfz1qZwJ04?si=y5Ttm65H6q9zaMkU" target="_blank" aria-label="Ver video en YouTube"><img width="260px" height="145.5px" loading="lazy"
              class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-3s	3s" src="assets/becas_youtube.webp" alt="miniatura youtube"></a>
          <a href="https://www.youtube.com/watch?v=9wI-J3yFDPM" target="_blank" aria-label="Ver video en YouTube"><img width="260px" height="145.5px" loading="lazy"
              class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-3s	3s" src="assets/img_historias_exito.webp" alt="miniatura youtube"></a>
        </div>
        <div class="d-flex justify-content-center d-lg-none">
          <a href="https://www.youtube.com/watch?v=bLuf3GoJBPM" target="_blank" aria-label="Conocer más sobre nuestro canal en YouTube"><img width="260px" height="145.5px" loading="lazy"
              class="min-youtube col animate__animated animate__fadeIn animate__slow animate__delay-1s	3s" src="assets/img_logralo.webp" alt=""></a>
        </div>
      </div>

    </div>
  </div>
</section>
