<section class="buzon mb-5 py-5 py-lg-0">
  <div class="container text-center">

      <img width="200px" height="200px" loading="lazy" src="../assets/icon/buzon.webp" alt="Buzón de Comentarios">
      <div class="titulofb fs-1 my-3">Buzón de Comentarios</div>
      <div class="descfb"> Nos importa tu opinión, háznos saber tus recomendaciones para brindarte un mejor servicio</div>
      <a routerLink="/servicio/buzon" class="nov-event-enlace">
        <div class="nov-event-boton">Ir a Buzón</div>
      </a>

  </div>
</section>
