<section class="buzon mb-5 text-center">
  <div class="container">
    <app-img alt="Buzón de Comentarios" path="assets/icon/buzon.webp" style="width: 180px; display: block; margin: auto;"></app-img>
    <!-- <img class="imgfb" src="../assets/icon/buzon.webp" alt=""> -->
    <div class="titulofb fs-1 my-3">Buzón de Comentarios</div>
    <div class="descfb"> <div class="red">Nos importa tu opinión,</div> haznos saber tus recomendaciones para brindarte un mejor servicio</div>
    <a routerLink="/inicio/buzon" class="nov-event-enlace">
      <div class="nov-event-boton">Ir a Buzón</div>
    </a>
  </div>
</section>
