.img-nombre {
  margin-top: 0px;
}

.logo {
  background-image: url(/assets/logo.png);
  background-size: cover;
  height: 45px;
  width: 35px;
}

.logo-nombre, .nombre-empresa {
  margin-top: 0;
}

.nombre-empresa a {
  color: inherit;
  text-decoration: none;
}

.nombre-empresa {
  margin-left: 10px;
  font-size: 2rem;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-icon {
  display: none;
  /* Ocultar el menú desplegable en pantallas grandes */
  cursor: pointer;
  margin-left: auto;
  background-image: url(/assets/menu.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-top: 17px;
}

.menu-desplegable {
  display: none;
  /* Oculta el menú por defecto */
  position: absolute;
  top: 100%;
  /* Posiciona el menú debajo del botón de menú */
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
  list-style: none;
  opacity: 0;
  /* Agrega transparencia al ocultar el menú */
  transform: translateY(-100%);
  /* Mueve el menú hacia arriba, fuera de la pantalla */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Transiciones de opacidad y transformación */
}

.menu-desplegable.show {
  display: block;
  /* Muestra el menú cuando la clase "show" está presente */
  opacity: 1;
  /* Muestra el menú con opacidad completa */
  transform: translateY(0);
  /* Muestra el menú desplazándolo hacia abajo */
}

.menu-desplegable li {
  margin: 10px 0px;
}

.menu-desplegable li i {
  margin-right: 10px;
}

.menu-desplegable li a {
  text-decoration: none;
  color: var(--color-blanco);
  font-size: 20px;
  transition: color 0.3s ease;
  /* Transición de color con duración de 0.3 segundos */
}

.menu-desplegable li a:hover {
  color: var(--color-naranja);
  /* Cambia el color al pasar el cursor por encima */
}

.menu-desplegable a {
  color: var(--color-primario);
  text-decoration: none;
}

/* Estilos responsivos para el menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {
  .menu-icon {
      display: block;
      /* Mostrar el icono del menú en pantallas pequeñas */
  }

  .menu-desplegable {
      display: none;
      /* Ocultar el menú desplegable inicialmente */
      position: absolute;
      top: 70px;
      right: 0px;
      background-color: var(--color-azul-oscuro);
      padding: 5px 15px;
      text-align: end;
      z-index: 1;
  }

  .menu-desplegable li {
      margin-bottom: 10px;
      font-size: 20px;
  }

  .menu-desplegable a {
      color: var(--color-primario);
      text-decoration: none;
  }

  .menu-superior-opc {
      display: none;
  }

  .menu-superior {
      padding: 0 20px;
  }
}

.menu-superior .menu-superior-opc li .svg-image {
  display: block;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  fill: inherit;
  /* Color inicial de relleno */
  transition: fill 0.3s ease;
  /* Transición suave */
  height: auto;
}


.menu-superior .menu-superior-opc a {
  color: inherit;
  font-size: smaller;
  text-decoration: none;
}



.menu-superior .menu-superior-opc {
  font-size: 1.8rem;
  gap: 20px;
  list-style-type: none;
  margin: 0 auto;
  height: 70px;
  width: 100%;
  padding: 0;
}

.menu-superior .menu-superior-opc .btn-saldo a {
  font-weight: 600;
}

.menu-superior .menu-superior-opc li a,
.menu-superior .menu-superior-opc li .btn-saldo a {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.menu-superior .menu-superior-opc li .svg-image {
  display: block;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  fill: inherit;
  /* Color inicial de relleno */
  transition: fill 0.3s ease;
  /* Transición suave */
  height: auto;
}
