<header class="header--inicio header--historia">

  <h2 class="header--titulo text-center">HISTORIA</h2>

  <app-redes-sociales></app-redes-sociales>

</header>




  <div class="container">

    <section class="historia-container-section historia">

      <div class="quienes--somos-title">Caja Popular San Pablo</div>
      <div class="quienes--somos-desc">Nace en la Colonia Libertad, al oriente de la Ciudad de Guadalajara Jalisco,
        registrándose de manera oficial en la
        Federación Jalisco, el 27 de febrero 1971.

        Fundada por el Prebístero José Guadalupe Pineda Velazquez (Q.E.P.D) párroco de San Pablo Apóstol en la misma
        época, apoyando en su
        incansable tarea por sus cofundadores para mejorar las condiciones de vida de sus Socios, a través de la Ayuda
        Mutua y disminuir la usura.
        Gracias a su desarrollo, solidez y confianza, por más de 36 años; fue autorizada en el año 2007 Comisión
        Nacional Bancaria y de Valores,
        consolida hoy como una de las Cooperativas más reconocidas y ejemplar en aplicación de la Obra Social.

        La base de nuestro éxito se encuentra en el compromiso del equipo de trabajo y órganos de Gobierno, el Consejo
        de Administración y Vigilancia
        formados por nuestros Socios, nuestras propias Bases Constitutivas, cimentadas en los principios del
        Cooperativismo Universal y la Normatividad
        vigente que rige a las Sociedades Cooperativas de Ahorro y Préstamo.</div>

    </section>

    <section class="historia-container-section quienes-somos">

      <div class="quienes--somos-title">¿QUIÉNES SOMOS?</div>
      <div class="quienes--somos-desc">Somos una Sociedad Cooperativa de Ahorro y Préstamo con más de 52 años al
        servicio
        de nuestros Socios, contribuyendo en el crecimiento económico de más de 82 mil
        cooperativistas activos en nuestra orgullosa Institución.

        Trabajamos para llevar más y mejores alternativas financieras a las familias de Jalisco,
        educando en materia cooperativista para la sana administración de los recursos y el
        uso responsable de productos crediticios con intereses justos.
      </div>
      <div class="logo biglogo"></div>


    </section>


    <section class="historia-container-section mvv">

      <div class="row">
        <div class="nuestros--valores-img mision"></div>
        <div class="quienes--somos-title">MISIÓN</div>
        <div class="quienes--somos-desc">Otorgar servicios financieros oportunos y eficientes, contribuyendo en mejorar
          la calidad de vida de nuestros Socios.</div>
      </div>
      <div class="row">
        <div class="nuestros--valores-img vision"></div>
        <div class="quienes--somos-title">VISIÓN</div>
        <div class="quienes--somos-desc">Liderar la excelencia Cooperativa en la región occidente.</div>
      </div>
      <div class="row">
        <div class="nuestros--valores-img valores"></div>
        <div class="quienes--somos-title">NUESTROS VALORES</div>
        <div class="quienes--somos-desc">Honestidad, Lealtad y Actitud Positiva. Creemos en nuestro personal, su
          integridad, su ética y profesionalismo para trabajar, en su honradez y
          alto sentido de responsabilidad. Estamos comprometidos con la comunidad cooperativista; brindando siempre una
          sonrisa, actitud positiva y un
          compañerismo pleno; deseamos que la experiencia de nuestros Socios sea excelente al recibir nuestros servicios
          y beneficios. <br><br>

          <b>“UNIDOS EN LA COOPERACIÓN, POR UN FUTURO MEJOR”</b>
        </div>
      </div>

    </section>
  </div>

