<portada-component title="LIGAS DE INTERÉS" colorText="text-white" img="family-spending-time-together"
  alt="familia leyendo algo interesante"></portada-component>


<div class="container">
  <!-- <button class="ligas-interes-btn" (click)="toggleSidebar()">LIGAS DE INTERES</button> -->

  <!-- <div class="visibility" [ngStyle]="{'display': toggle ? 'flex' : 'none'}"> -->

    <!-- <div class="row py-5" [ngStyle]="{'display': toggle ? 'flex' : 'none'}"> -->
    <div class="row py-5">



      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="assets/pdf/7 tips de ahorro.pdf" target="_blank" class="card">
          <img src="assets/img-blog/7 tips de ahorro.webp" alt="7 tips de ahorro">
          <div class="card-body">
            <h5 class="card-title">7 tips de ahorro</h5>
            <p class="card-text">Conoce los 7 tips de ahorro que te ayudarán a mejorar tus finanzas personales.
            </p>
            <a href="assets/pdf/7 tips de ahorro.pdf" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>
      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="assets/pdf/creditos.pdf" target="_blank" class="card">
          <img src="assets/img-blog/creditos.webp" alt="creditos">
          <div class="card-body">
            <h5 class="card-title">Los créditos nos facilitan el manejo de los recursos</h5>
            <p class="card-text">Conoce cómo los créditos nos facilitan el manejo de los recursos y cómo puedes
              utilizarlos a tu favor.
            </p>
            <a href="assets/pdf/creditos.pdf" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>
      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="assets/pdf/Presupuesto.pdf" target="_blank" class="card">
          <img src="assets/img-blog/Presupuesto.webp" alt="Presupuesto">
          <div class="card-body">
            <h5 class="card-title">Presupuesto</h5>
            <p class="card-text">Conoce la importancia de tener un presupuesto y cómo puedes hacer uno para mejorar tus
              finanzas personales.
            </p>
            <a href="assets/pdf/Presupuesto.pdf" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>
      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="assets/pdf/tips ecologicos.pdf" target="_blank" class="card">
          <img src="assets/img-blog/tips ecologicos.webp" alt="tips ecologicos">
          <div class="card-body">
            <h5 class="card-title">5 tips ecologicos</h5>
            <p class="card-text">Conoce los 5 tips ecológicos que te ayudarán a cuidar el medio ambiente y a mejorar tu
              calidad de vida.
            </p>
            <a href="assets/pdf/tips ecologicos.pdf" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>
      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="assets/pdf/Vacaciones sin estres.pdf" target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/Vacaciones sin estres.webp" alt="Vacaciones sin estres">
          <div class="card-body">
            <h5 class="card-title">Vacaciones sin estrés</h5>
            <p class="card-text">Conoce cómo puedes disfrutar de unas vacaciones sin estrés y cómo puedes planearlas
              para que sean inolvidables.
            </p>
            <a href="assets/pdf/Vacaciones sin estres.pdf" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>
      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="assets/pdf/ventajasdeahorrarencajapopularsanpablo.pdf" target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/ventajasdeahorrarencajapopularsanpablo.webp" alt="Ventajas de ahorra en Caja Popular San Pablo">
          <div class="card-body">
            <h5 class="card-title">Ventajas de ahorra en Caja Pupular San Pablo</h5>
            <p class="card-text">Conoce las ventajas de ahorrar en Caja Popular San Pablo y cómo puedes mejorar tus
              finanzas personales.
            </p>
            <a href="assets/pdf/ventajasdeahorrarencajapopularsanpablo.pdf" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>
      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://www.mentelaboral.com/" target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/covid-historia-de-mariana-506x486.webp" alt="Vacuna">
          <div class="card-body">
            <h5 class="card-title">Historia de Mariana</h5>
            <p class="card-text">Conoce la historia de Mariana, una mujer que se enfrentó al COVID-19 y logró vencerlo.
            </p>
            <a href="https://www.mentelaboral.com/" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://www.elsoldeleon.com.mx/local/son-cooperativas-alternativa-para-economia-social-exitosa-6640928.html"
          target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/cooperativas-de-exito-1250x1196.webp" alt="ImgCooExito">
          <div class="card-body">
            <h5 class="card-title">Cooperativas de éxito</h5>
            <p class="card-text">Conoce las cooperativas de éxito que han logrado sobresalir en el mercado.
            </p>
            <a href="https://www.elsoldeleon.com.mx/local/son-cooperativas-alternativa-para-economia-social-exitosa-6640928.html"
              target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://www.concamex.coop/media/cooperativismo/cooperativismo-a-nivel-mundial.html" target="_blank"
          class="card">
          <img loading="lazy" src="assets/img-blog/cooperativismo-a-nivel-mundial-1250x1200.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Coopertivismo a nivel mundial</h5>
            <p class="card-text">Conoce el cooperativismo a nivel mundial y cómo ha logrado sobresalir en el mercado.
            </p>
            <a href="https://www.concamex.coop/media/cooperativismo/cooperativismo-a-nivel-mundial.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://www.concamex.coop/media/cooperativismo/tipos-de-cooperativas.html" target="_blank"
          class="card">
          <img loading="lazy" src="assets/img-blog/tipos-de-cooperativas-1250x1200.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Tipos de cooperativas</h5>
            <p class="card-text">Conoce los tipos de cooperativas que existen y cómo puedes ser parte de una de ellas.
            </p>
            <a href="https://www.concamex.coop/media/cooperativismo/tipos-de-cooperativas.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://webappsos.condusef.gob.mx/EducaTuCartera/index.html" target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/educa-tu-cartera-1250x1200.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Tips para ahorrar</h5>
            <p class="card-text">Conoce los tips para ahorrar y cómo puedes mejorar tus finanzas personales.
            </p>
            <a href="https://webappsos.condusef.gob.mx/EducaTuCartera/index.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://www.banxico.org.mx/billetes-y-monedas/disenos-actuales-circulacion-.html" target="_blank"
          class="card">
          <img loading="lazy" src="assets/img-blog/disenos-actuales-1253x1201.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Diseños actuales de los billetes mexicanos</h5>
            <p class="card-text">Conoce los diseños actuales de los billetes mexicanos y cómo han evolucionado a lo
              largo de los años.
            </p>
            <a href="https://www.banxico.org.mx/billetes-y-monedas/disenos-actuales-circulacion-.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://www.banxico.org.mx/billetes-y-monedas/validez-piezas-validez-banco-.html" target="_blank"
          class="card">
          <img loading="lazy" src="assets/img-blog/validez-de-tus-piezas-1253x1203.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Validez de piezas (billetes)</h5>
            <p class="card-text">Conoce la validez de tus billetes y cómo puedes identificar si son falsos o verdaderos.
            </p>
            <a href="https://www.banxico.org.mx/billetes-y-monedas/validez-piezas-validez-banco-.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://webappsos.condusef.gob.mx/EducaTuCartera/ni%C3%B1os.html" target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/sitio-infantil-condusef-1258x1205.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Para cuando crezcas</h5>
            <p class="card-text">Conoce el sitio infantil de la CONDUSEF y cómo puedes aprender a cuidar tus finanzas
              personales desde pequeño.
            </p>
            <a href="https://webappsos.condusef.gob.mx/EducaTuCartera/ni%C3%B1os.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

      <div class="tar col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <a href="https://webappsos.condusef.gob.mx/EducaTuCartera/inversion.html" target="_blank" class="card">
          <img loading="lazy" src="assets/img-blog/dinero-condusef-1250x1200.webp" alt="AnivelMundial">
          <div class="card-body">
            <h5 class="card-title">Haz más con tu dinero</h5>
            <p class="card-text">Conoce cómo puedes hacer más con tu dinero y cómo puedes mejorar tus finanzas
              personales.
            </p>
            <a href="https://webappsos.condusef.gob.mx/EducaTuCartera/inversion.html" target="_blank"
              class="btn btn-primary">Leer más</a>
          </div>
        </a>
      </div>

    </div>
  </div>
<!-- </div> -->
