@mixin header-styling($image-url) {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
  background-position-y: 0px;
  background-position-x: center;

  background-image: url(#{$image-url}.webp);

  h2 {
    font-size: 3rem;
    text-shadow: 0px 0px 10px white;
    color: var(--color-negro);
    animation: zoomIn;
    animation-duration: 1s;
  }
}
