<portada-component title="BURÓ DE ENTIDADES FINANCIERAS" colorText="text-white" img="buro de entidades financieras"
  alt="hombre feliz su esposa reuniendose asesor financiero firmando acuerdo oficina"></portada-component>

<section class="buro">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-md-4">
        <img src="assets/BURO.webp" alt="imagen buro">
      </div>
      <div class="col-12 col-md-8">
        <h3>¿Qué es?</h3>
        <p>
          Es una herramienta de consulta y difusión con la que podrás conocer los productos que ofrecen las entidades
          financieras, sus comisiones y tasas, las reclamaciones de los usuarios, las prácticas no sanas en que
          incurren, las sanciones administrativas que les han impuesto, las cláusulas abusivas de sus contratos y otra
          información que resulte relevante para informarte sobre su desempeño. <br><br>

          Con el Buró de Entidades Financieras, se logrará saber quién es quién en bancos, seguros, sociedades
          financieras de objeto múltiple, cajas de ahorro, afores, entre otras entidades.<br><br>

          Con ello, podrás comparar y evaluar a las entidades financieras, sus productos y servicios y tendrás mayores
          elementos para elegir lo que más te convenga.<br><br>

          Esta información te será útil para elegir un producto financiero y también para conocer y usar mejor los que
          ya tienes.<br><br>

          Este Buró de Entidades Financieras, es una herramienta que puede contribuir al crecimiento económico del
          país, al promover la competencia entre las instituciones financieras; que impulsará la transparencia al
          revelar información a los usuarios sobre el desempeño de éstas y los productos que ofrecen y que va a
          facilitar un manejo responsable de los productos y servicios financieros al conocer a detalle sus
          características.<br><br>

          Lo anterior, podrá derivar en un mayor bienestar social, porque al conjuntar en un solo espacio tan diversa
          información del sistema financiero, el usuario tendrá más elementos para optimizar su presupuesto, para
          mejorar sus finanzas personales, para utilizar correctamente los créditos que fortalecerán su economía y
          obtener los seguros que la protejan, entre otros aspectos.<br><br>

          En la siguiente tabla puedes consultar la información correspondiente únicamente a <b>Caja Popular San Pablo
            S.C. de A.P. de R.L. de C.V</b><br><br>

          Así mismo para conocer la información de todo el sector a la que corresponda, se podrá acceder al sitio:
          <a href="https://www.buro.gob.mx">https://www.buro.gob.mx</a><br><br>

        </p>
        <h3>Periodo: Enero - Diciembre 2023</h3>
      </div>
    </div>

    <div class="tabla position-relative">
      <img src="assets/periodo-enero-diciembre2023.webp" alt="tabla enero - marzo 2023">
      <div class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">ver</div>
    </div>

    <div class="btn-consulta d-flex justify-content-end">
      <a class="btn d-flex" target="_blank"
        href="https://ifit.condusef.gob.mx/ifit/ftb_vista_general.php">
        <i class="fi fi-sr-eye me-2"></i>
        <p class="m-0">CONSULTA</p>
      </a>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="assets/evaluacion-conducef.webp" alt="Evaluacion conducef">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</section>
