.preg-frec {

  .imgfb {
    display: block;
    margin: 0 auto;
  }

  .titulofb {
    color: var(--color-primario);
  }

  .descfb {
    color: var(--color-azul-oscuro);
  }

  .nov-event-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 65px;
    background-color: var(--color-primario);
    color: white;
    font-size: 1.5rem;
    border-radius: 40px;
    margin: 20px auto;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .nov-event-boton:hover {
    background-color: var(--color-naranja);
  }

  .accordion-button {
    margin: 5px 0px;
    font-size: 1.3rem;
    color: var(--bs-gray);
  }
}

.accordion-body {
  padding: unset;

  .resp {
    font-size: 1.1rem;
    text-align: justify;
    padding: 25px 20px;
    box-shadow: 0px 10px 20px #00000042;
    border-radius: 0 0 10px 10px;
    font-family: inherit;
  }
}
