<section class="beneficios">
  <div class="container">

    <div class="beneficios-titulo text-center">BENEFICIOS DE ESTAR AFILIADO A
      CAJA POPULAR SAN PABLO
    </div>
    <div class="row justify-content-center">
      <div class="all-beneficios mt-4 gap-5 d-flex flex-wrap">
        <div class="item col" routerLink="/beneficios/asesoria">
          <app-img class="img-beneficio" alt="Asesoría Jurídica" path="assets/icon/consulta.webp" style="width: 50px;"></app-img>
          <!-- <img class="img-beneficio" src="assets/icon/consulta.webp" alt="Imagen 1"> -->
          <div class="texto-corto">Asesoría Jurídica</div>
        </div>
        <div class="item col" routerLink="/beneficios/proteccion">
          <app-img class="img-beneficio" alt="Protección al Ahorro y Crédito" path="assets/icon/ahorrar-dinero.webp" style="width: 50px;"></app-img>
          <!-- <img class="img-beneficio" src="assets/icon/ahorrar-dinero.webp" alt="Imagen 3"> -->
          <div class="texto-corto">Protección al Ahorro y Crédito</div>
        </div>
        <a class="item col" routerLink="/beneficios/medico">
          <img class="img-beneficio" src="assets/icon/asistencia-medica.webp" alt="Imagen 4">
          <div class="texto-corto">Servicios Médicos</div>
        </a>
        <div class="item col" routerLink="/beneficios/servicios">
          <app-img class="img-beneficio" alt="Pago de Servicios" path="assets/icon/pago.webp" style="width: 50px;"></app-img>
          <!-- <img class="img-beneficio" src="assets/icon/pago.webp" alt="Pago de Servicios"> -->
          <div class="texto-corto">Pago de Servicios</div>
        </div>
        <div class="item col" routerLink="/beneficios/profun">
          <app-img class="img-beneficio" alt="Proteccion Funeraria" path="assets/icon/me-gusta.webp" style="width: 50px;"></app-img>
          <!-- <img class="img-beneficio" src="assets/icon/me-gusta.webp" alt="Imagen 6"> -->
          <div class="texto-corto">Profun</div>
        </div>
      </div>
    </div>

  </div>

</section>
