<section class="beneficios">
  <div class="container">

    <div class="beneficios-titulo text-center">BENEFICIOS DE ESTAR AFILIADO A
      CAJA POPULAR SAN PABLO
    </div>
    <div class="row justify-content-center">
      <div class="all-beneficios mt-4 gap-5 d-flex flex-wrap">
        <div class="item col" routerLink="/beneficios/asesoria">
          <img class="img-beneficio" src="assets/icon/consulta.png" alt="Imagen 1">
          <div class="texto-corto">Asesoría Jurídica</div>
        </div>
        <div class="item col" routerLink="/beneficios/proteccion">
          <img class="img-beneficio" src="assets/icon/ahorrar-dinero.png" alt="Imagen 3">
          <div class="texto-corto">Protección al Ahorro y Crédito</div>
        </div>
        <a class="item col" routerLink="/beneficios/medico">
          <img class="img-beneficio" src="assets/icon/asistencia-medica.png" alt="Imagen 4">
          <div class="texto-corto">Servicios Médicos</div>
        </a>
        <div class="item col" routerLink="/beneficios/servicios">
          <img class="img-beneficio" src="assets/icon/pago.png" alt="Imagen 5">
          <div class="texto-corto">Pago de Servicios</div>
        </div>
        <div class="item col" routerLink="/beneficios/profun">
          <img class="img-beneficio" src="assets/icon/me-gusta.png" alt="Imagen 6">
          <div class="texto-corto">Profun</div>
        </div>
      </div>
    </div>

  </div>

</section>
