<section class="beneficios">
  <div class="container">

    <div class="todo">
      <div class="beneficios-titulo text-center animate__animated animate__fadeInLeft animate__slow"> <div class="naranja">BENEFICIOS </div> DE ESTAR AFILIADO A
        CAJA POPULAR SAN PABLO
      </div>
      <div class="row justify-content-center">
        <div class="all-beneficios mt-4">
          <div class="item col animate__animated animate__fadeInDown animate__slow" routerLink="/beneficios/asesoria">
            <img class="img-beneficio" loading="lazy" src="assets/icon/consulta.webp" alt="Asesoría Jurídica">
            <a class="texto-corto">Asesoría Jurídica</a>
          </div>
          <div class="item col animate__animated animate__fadeInDown animate__slow" routerLink="/beneficios/proteccion">
            <img class="img-beneficio" loading="lazy" src="assets/icon/ahorrar-dinero.webp" alt="Protección al Ahorro y Crédito">
            <a class="texto-corto">Protección al Ahorro y Crédito</a>
          </div>
          <a class="item col animate__animated animate__fadeInDown animate__slow" routerLink="/beneficios/medico">
            <img class="img-beneficio" loading="lazy" src="assets/icon/asistencia-medica.webp" alt="Imagen 4">
            <div class="texto-corto">Servicios Médicos</div>
          </a>
          <div class="item col animate__animated animate__fadeInDown animate__slow" routerLink="/beneficios/servicios">
            <img class="img-beneficio" loading="lazy" src="assets/icon/pago.webp" alt="Pago de Servicios">
            <a class="texto-corto">Pago de Servicios</a>
          </div>
          <div class="item col animate__animated animate__fadeInDown animate__slow" routerLink="/beneficios/servicio-apoyo-funerario">
            <img class="img-beneficio" loading="lazy" src="assets/icon/me-gusta.webp" alt="Proteccion Funeraria">
            <a class="texto-corto">Servicio de Apoyo Funerario</a>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>
