<header class="header--inicio-sucursales">
  <img src="ass" alt="">

  <div class="container">
    <h2 class="text-center text-white">SUCURSALES</h2>

    <app-redes-sociales></app-redes-sociales>

  </div>

</header>


<section class="sucursales">
  <div class="container py-5">
    <div class="card-container row justify-content-evenly">

      <div class="card-suc belisario col" style="border: var(--color-primario) solid 5px;">
        <a href="https://maps.app.goo.gl/F9ssQ3kHrNWxjH9D7" target="_blank">
          <div class="card-suc-title-btn">
            <div class="nueva-sucursal">Nueva Sucursal</div>
            <div class="card-suc-title">CENTRO <br> SUR</div>
            <div class="card-suc-btng">
              <img loading="lazy" src="assets/icon/mapas-de-google.webp" width="16px" height="16px" alt="pin-mapa">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">
              Conmutador: 3338831830 o 3336441728 Ext.
              Captación: 1103 / 1121 / 1178 / 1235 / 1124
              Crédito: 1104 / 1132 / 1154 / 1155
              Cobranza: 1131 / 1125 / 1105</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado d0e 9:00 a 13:00 horas</div>
          </div>
        </a>
      </div>
      <div class="card-suc belisario col" style="border: var(--color-primario) solid 5px;">
        <a href="https://maps.app.goo.gl/F9ssQ3kHrNWxjH9D7" target="_blank">
          <div class="card-suc-title-btn">
            <div class="nueva-sucursal">Nueva Sucursal</div>
            <div class="card-suc-title">BELISARIO DOMINGUEZ</div>
            <div class="card-suc-btng">
              <img loading="lazy" src="assets/icon/mapas-de-google.webp" width="16px" height="16px" alt="pin-mapa">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">
              Conmutador: 3338831830 o 3336441728 Ext.
              Captación: 1103 / 1121 / 1178 / 1235 / 1124
              Crédito: 1104 / 1132 / 1154 / 1155
              Cobranza: 1131 / 1125 / 1105</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado d0e 9:00 a 13:00 horas</div>
          </div>
        </a>
      </div>

      <div *ngFor="let sucursal of sucursales" [class]="sucursal.class+' card-suc col'">
        <a [href]="sucursal.link" target="_blank">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">{{sucursal.title}}</div>
            <div class="card-suc-btng">
              <img loading="lazy" src="assets/icon/mapas-de-google.webp" width="16px" height="16px" alt="pin-mapa">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">{{sucursal.telefono}}</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">{{sucursal.horario}}</div>
          </div>
        </a>
      </div>



    </div>
  </div>
</section>
