<header class="header--inicio-sucursales">

  <div class="container">
    <h2 class="header--titulo text-center">SUCURSALES</h2>

    <app-redes-sociales></app-redes-sociales>

  </div>

</header>

<main>
  <section class="sucursales">
    <div class="container py-5">
      <div class="card-container row justify-content-evenly">
        <!-- <a href="https://goo.gl/maps/HX9DHqr4bbTYurLT9" target="_blank"> -->
        <div class="card-suc matriz col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">MATRIZ</div>
            <div class="card-suc-btng">
              <img src="assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336441728 / 3338831830
              Conmutador: 3338831830 o 3336441728 Ext.
              Captación: 1103 / 1121 / 1178 / 1235 / 1124
              Crédito: 1104 / 1132 / 1154 / 1155
              Cobranza: 1131 / 1125 / 1105</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc zalatitan col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">ZALATITÁN</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-zalatitan">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336073717
              Conmutador: 3338831830 o 3336441728
              Ext.
              Captación: 1191
              Crédito: 1166
              Crédito: 1167</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc iglesias col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title title-min">JOSÉ MA. IGLESIAS</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-iglesias">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336084503
              Conmutador: 3338831830 o 3336441728
              Ext.
              Crédito: 1143
              Captación: 1146
              Cobranza: 1194</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horass</div>
          </div>
        </div>
        <!-- <a href="https://goo.gl/maps/fcrUiDJZBqr6Gz4Q6" target="_blank"> -->
        <div class="card-suc zapopan col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">ZAPOPAN</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-zapopan">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3338338253
              Conmutador: 3338831830 o 3336441728
              Ext.
              Crédito: 1145
              Captación: 1147
              Cobranza: 1198</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc pedrito col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title title-min">SAN PEDRITO</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-pedrito">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336003162
              Conmutador: 3338831830 o 3336441728
              Ext.
              Crédito: 1151
              Captación: 1152
              Cobranza: 1197</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc santa col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">SANTA FÉ</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-santa">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3311890728
              Conmutador: 3338831830 o 3336441728
              Ext.
              Captación: 1163
              Crédito: 1193 / 1176</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc chapala col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">CHAPALA</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-chapala">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3767653669
              Conmutador: 3338831830 o 3336441728
              Ext. 1214</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 10:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc centro col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">CENTRO</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-centro">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336139592
              Conmutador: 3338831830 o 3336441728
              Ext.
              Crédito: 1171 / 1246</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc obrero col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">OBRERO</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-obrero">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3316529944
              Conmutador: 3338831830 o 3336441728
              Ext.
              Crédito: 1226</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 9:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc tonala col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title">TONALÁ</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-tonala">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3337926340
              Conmutador: 3338831830 o 3336441728
              Ext. 1213</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 10:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc castillo col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title title-min">SAN JOSÉ DEL CASTILLO</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-castillo">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336880912
              Conmutador: 3338831830 o 3336441728
              Ext. 1217</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes, Miércoles y Viernes de 10:00 a 17:00 horas
              Sábado de 9:30 a 12:30 horas</div>
          </div>
        </div>

        <div class="card-suc bahia col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title title-min">BAHÍA COLÓN</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-bahia">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3336846398
              Conmutador: 3338831830 o 3336441728
              Ext. 1216</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 10:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div class="card-suc tlaquepaque col">
          <div class="card-suc-title-btn">
            <div class="card-suc-title title-min">TLAQUEPAQUE</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-tlaquepaque">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3310010760
              Conmutador: 3338831830 o 3336441728
              Ext.
              Captación: 1253
              Crédito: 1252</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 10:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>

        <div id="medico" class="card-suc medico col seccion-destacada">
          <div class="card-suc-title-btn">
            <div class="card-suc-title title-min">SERVICIO MÉDICO</div>
            <div class="card-suc-btng">
              <img src="../assets/icon/mapas-de-google.png" class="icon-maps" alt="">
              <p>Obtener dirección</p>
            </div>
          </div>
          <div class="card-suc-inf Card-suc-medico">
            <div class="card-suc-inf-title">Teléfono</div>
            <div class="card-suc-inf-numbers">3338018780</div>
            <div class="card-suc-inf-title">Horario</div>
            <div class="card-suc-inf-numbers">Lunes a Viernes de 10:00 a 18:45 horas
              Sábado de 9:00 a 13:00 horas</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
