<div class="mantenimiento" style="height: 80vh; background-color: var(--color-primario)">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center text-white text-center" style="height: 80vh;">
      <img alt="Logo Caja Popular San Pablo" src="assets/icon/LOGOTIPO1.webp" width="200">
      <h1 class="my-2">Nuestro portal web está <br> en proceso de actualización.</h1>
      <p class="text-center fs-4" style="color: var(--color-naranja)">Descarga la App Caja San Pablo desde Playstore o Appstore, consulta tu saldo en el teléfono móvil..
        <br> <span class="mt-2"> Acude a la Sucursal más cercana y da de alta este servicio.</span>
      </p>
    </div>
  </div>
</div>
