/* You can add global styles to this file, and also import other style files */
:root {
    --color-primario: #3066be;
    --color-secundario: #6d9dc5;
    --color-blanco: white;
    --color-negro: black;
    --color-azul-oscuro: #003063;
    --color-naranja: #dc9c48;
    --color-gris: #dfdfdf;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

