<header class="header--profun">

  <h2 class="text-center text-white">PROFUN</h2>

  <app-redes-sociales></app-redes-sociales>

</header>


<section class="profun">
  <div class="container py-5">
    <p class="fs-4">El Servicio de Protección Funeraria (PROFUN), tiene como objetivo apoyar a las familias de Socios
      y Ahorradores
      Menores con los gastos funerarios en caso de fallecimiento.
      Para poder tener acceso a este beneficio, deberás cumplir con lo siguiente: </p>

    <ul class="fs-5">
      <li>Ser Socio Adulto o Ahorrador Menor activo de la Cooperativa.</li>
      <li>Antigüedad como Socio o Ahorrador Menor, mínima de 6 meses.</li>
      <li>Registrar ahorro sistemático (Ahorro consecutivo mínimo una vez cada mes).</li>
      <li>En caso de tener préstamos, que éstos se encuentren al corriente.</li>
    </ul>

    <p class="bg-warning p-3 my-5 fs-5 ">Caja San Pablo cuenta con alianzas en las siguientes funerarias, quienes
      darán el servicio en cualquier día y
      hora que se requiera, y que de acuerdo a la fecha se encuentren vigentes:</p>

    <div class="row">
      <h2>Funerarias Aliadas:</h2>
      <div class="col-12 col-md-6">
        <ul class="fs-5">
          <li><b>I. Funerales La Paz:</b> ubicada en calle Gigantes No 3077 en el Sector Libertad de Guadalajara
            Jalisco. Tel: <a href="">33-36-55-33-80</a>.</li>
          <li><b>II. Funeraria San Gaspar:</b> ubicada en calle Pedro Moreno No 378 Colonia San Gaspar de Tonalá
            Jalisco. Tel: <a href="">33-36-07-01-30</a>.</li>
          <li><b>III. Funeraria Santa Magdalena:</b> ubicada en calle Independencia No 129 Colonia San Martin de las
            Flores de Abajo de Tlaquepaque Jalisco.</li>
          <li><b>IV. Funeraria San Ramón:</b> ubicada en calle Chamizal No 773 en el Sector Reforma de Guadalajara,
            Jalisco. Tel: <a href="">33-36-59-22-22</a></li>
          <li><b>V. Funeraria San Pedrito:</b> ubicada en avenida 18 de Marzo No 208-A en la Colonia San Pedrito de
            Tlaquepaque, Jalisco. Tel: <a href="">33-15-23-72-29</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="fs-5">
          <li><b>VI. Funeraria Navarro:</b> ubicada en calle 56 No 984, Basilio Vadillo No 969 Colonia Talpita,
            Guadalajara Jalisco. Tel: <a href="">33-36-49-30-06</a>.</li>
          <li><b>VII. Funeraria Chapala:</b> ubicada en calle Morelos 179, Colonia Centro Chapala, Jalisco. Tel: 01 <a
              href="">376-765-57-89.</a></li>
          <li><b>VIII. Funeraría Rosas:</b> ubicada en Calle Zaragoza 54, Col. Centro, Tlaquepaque, Jalisco. Tel: <a
              href="">33-36-35-03-50</a></li>
          <li><b>IX. Recinto Funeral López.</b> Tel: Salas de velación:-El número 1197 de la calle Avenida Artesanos,
            en la Colonia Oblatos en Guadalajara, Jalisco. -El número 2879 de la calle Calzada Federalismo, en la
            Colonia Atemajac del Valle, en Zapopan Jalisco -El número 5216 de la calle Anillo Periférico Manuel Gómez
            Morín en la Colonia La Micaelita, en Tlaquepaque, Jalisco. Teléfono <a href="">3336491500</a></li>
          <li><b>X. Servicios Funerarios San Javier, Jardín Y Recinto S.A. De C.V</b> ubicada en Calzada Independencia
            norte 1636, Colonia Monumental, Guadalajara, Jalisco. Teléfono <a href="">3315626466</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nota">
    <div class="container">

      <p class="fs-5 py-4 m-0">
        Los casos no previstos serán atendidos por la Dirección General y en su caso considerados por el H Consejo de
        Administración. <br>

        Para conocer el proceso y más detalles, te pedimos nos visites en el área de Captación de cualquiera de nuestras
        Sucursales, te daremos información completa y resolveremos tus dudas.<br><br>

        Recuerda mantener actualizado tu expediente, así como los datos de tu beneficiario (s).<br>

        * Las bases, requisitos y demás pueden variar de acuerdo a las políticas vigentes. Consulta siempre con un
        Asesor
        San Pablo en el área de captación de tu sucursal.
      </p>
    </div>
  </div>
</section>
