<portada-component title="BOLSA DE TRABAJO" colorText="text-black" img="bolsa de trabajo"
  alt="Dos mujeres empresarias"></portada-component>

  <section class="trabajo">

    <div class="container">

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="vacantes">
            <img src="assets/52057.webp" alt="Auxiliar de limpieza" style="width: 67%;">
            <h4>AUXILIAR DE LIMPIEZA</h4>
            <a href="assets/pdf/auxiliar de limpieza.pdf" target="_blank"><button>Leer más</button></a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="vacantes">
            <img src="assets/2840523.webp" alt="Auxiliar de mantenimiento">
            <h4>AUXILIAR DE MANTENIMIENTO</h4>
            <a href=""><button>Leer más</button></a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="vacantes">
            <img src="assets/investigador.webp" alt="Auxiliar de credito">
            <h4>Investigador de credito</h4>
            <a href="assets/pdf/investigador de credito.pdf" target="_blank"><button>Leer más</button></a>
          </div>
        </div>
      </div>

    </div>

  </section>

