<header class="header--trabajo">

  <div class="container">
    <h2 class="text-center">BOLSA DE TRABAJO</h2>

    <!-- <app-redes-sociales></app-redes-sociales> -->

  </div>

</header>

<main>
  <section class="trabajo">

    <div class="container">

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="vacantes">
            <img src="assets/52057.webp" alt="" style="width: 67%;">
            <h4>INTENDENTES</h4>
            <a href=""><button>Leer más</button></a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="vacantes">
            <img src="assets/2840523.webp" alt="">
            <h4>AUXILIAR DE MANTENIMIENTO</h4>
            <a href=""><button>Leer más</button></a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="vacantes">
            <img src="assets/4751965.webp" alt="">
            <h4>AUXILIAR DE ARCHIVO</h4>
            <a href=""><button>Leer más</button></a>
          </div>
        </div>
      </div>

    </div>

  </section>
</main>
