<portada-component title="BOLSA DE TRABAJO" colorText="text-black" img="bolsa de trabajo"
  alt="Dos mujeres empresarias"></portada-component>

<section class="trabajo">

  <div class="container">

    <div class="row py-5">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-start">

          <img src="assets/RH.webp " class="img-fluid" alt="...">

      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start gap-1">

          <h1>¿Buscas trabajo?</h1>
            <p>¿Quieres unirte a nuestro equipo?</p>
            <p>¿Quieres ser parte de una empresa líder en el mercado?</p>
            <p>¡Esta es tu oportunidad!</p>
            <p>Envíanos tu CV a: <a href="rhumanos@libertadsanpablo.com">{{'rhumanos@libertadsanpablo.com'}}</a> o</p>
            <p>llámanos al: <a href="tel: 3338831830">3338831830</a> y <a href="tel: 3336441728">3336441728</a></p>
            <p>Extenciones: 1126 / 1249 / 1282</p>

      </div>
      <div class="">
        <h2 class="text-center">Vacantes disponibles:</h2>
        <img src="assets/vacante.webp " class="img-fluid" alt="...">
      </div>
    </div>

  </div>

</section>
