<portada-component title="DESPACHOS DE COBRANZA EXTERNOS" colorText="text-white" img="Despacho de cobranza"
  alt="cuatro personas sentadas tras su computadora"></portada-component>

<section class="despacho-cobranza">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-6">
        <p>Consulta nuestro aviso de datos <strong>dando click en la imagen</strong></p>
        <a href="assets/pdf/datos de cobranza.pdf" target="_blank">
          <img src="assets/Despachos.webp" alt="Despacho de cobranza" class="img-fluid">
        </a>
      </div>
      <div class="col-12 col-md-6">
        <p>Consultar nuestro directorio <strong>dando click en la imagen</strong></p>
        <a href="assets/pdf/AVISO DE DATOS DESPACHOS DE COBRANZA.pdf" target="_blank">
          <img src="assets/Aviso de datos de Despachos de Cobranza.webp" alt="Despacho de cobranza" class="img-fluid">
        </a>
      </div>
    </div>


  </div>
</section>
